//*********VARIABLES*********//

//*********CONTAINER WIDTH*********//
$maxWidthContainer: 1170px;
$minWidth: 270px;
$maxWidth: 1320;
//*********CONTAINER WIDTH*********//

//*********FONT*********//
$mainFont: 'Roboto', sans-serif;
//*********FONT*********//

//*********COLOURS*********//
$brand-black: #2e2e2e;
$brand-white: #fff;
$brand-grey: #bdbdbd;
$brand-red: rgb(255, 0, 0);
//*********COLOURS*********//

//*********TRANSITION*********//
$md-transition: 0.4s
//*********TRANSITION*********//

//*********VARIABLES*********//

