.footer{
    overflow: hidden;
    background: linear-gradient(131.6deg, #242625 22.09%, #001412 83.76%);
    margin-top: 50px;
    &__wrapper{
        position: relative;
        &-decoration{
            position: absolute;
            bottom: -300%;
            left: 0;
            z-index: -1;
        }
    }
    &__footer{
        text-align: center;
        padding: 50px 20px;
    }
    &__info{
        margin-bottom: 5px;
        color: $white;
    }
}

@include tablet{
    .footer{
        &__wrapper{
            &-decoration{
                width: 80%;
            }
        }
    }
}

