//*********VARIABLES*********//

//*********CONTAINER WIDTH*********//
$maxWidthContainer: 1170px;
$minWidth: 270px;
$maxWidth: 1920;
//*********CONTAINER WIDTH*********//

//*********FONT*********//
$mainFont: 'Roboto', sans-serif;
//*********FONT*********//

//*********COLOURS*********//
$black: #000;
$white: #fff;
//*********COLOURS*********//


//*********SHADOW*********//
//*********SHADOW*********//


//*********TRANSITION*********//
//*********TRANSITION*********//


//*********GAP*********//
//*********GAP*********//


//*********BORDER*********//
//*********BORDER*********//


//*********HOVER COLOURS*********//
//*********HOVER COLOURS*********//


//*********VARIABLES*********//


//******** LAYOUT *********//
