.comfortable
    &__box
        justify-content: space-around
        flex-wrap: wrap
        margin-bottom: 100px
    &__card
        width: 340px
        text-align: center
        margin: 40px 20px
        img
            margin: 30px 0px 40px 0px
            object-fit: cover
            width: 100%
    &__btn
        margin: auto