/* fonts export */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

/* Variables */
:root{
    /* main */

        /* colours */
        --main-accent: #00A4E5;
        --main-white: #ffffff;
        --main-black: #48555B;
        --main-blue: #141A20;

        /* shadow */
        --main-shadow: 0 14px 28px rgba(0, 0, 0, 0.45), 0 10px 10px rgba(0,0,0,0.45);

        /* transition */
        --main-transition: 0.7s;

    /* secondary */

        /* colours */
        --secondary-black: #171819;
        
        /* transition */
        --secondary-transition: 0.5s;
}

/* General Styles and Main Classes */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
p{
    font-size: max(10px, min(13px, calc(100vw * 4 / 75)));
}
button,input{
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}
a{
    text-decoration: none;
    cursor: pointer;
}
/* Main Classes */
.main__wrap{
    width: 90%;
    margin: auto;
}
.main__info{
    line-height: 23px;
    letter-spacing: 0.18px;
    color: var(--main-info);
}
.main__btn{
    display: block;
    width: 150px;
    height: 40px;
    background: var(--main-black);
    color: var(--main-white);
    letter-spacing: 0.5px;
    font-size: max(12px, min(16px, calc(100vw * 4 / 75)));
    text-align: center;
    line-height: 40px;
    text-transform: uppercase;
    transition: var(--secondary-transition);
}
.main__btn:hover{
    background: var(--main-accent);
}
.main__hgroup{
    text-align: center;
}
.main__title{
    font-weight: 700;
    font-size: max(16px, min(30px, calc(100vw * 4 / 75)));
    line-height: 25px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: var(--main-black);
    position: relative;
}
.main__title::before{
    content: '';
    display: block;
    width: 10%;
    height: 1px;
    background: var(--main-accent);
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
}
.main__link{
    padding: 5px;
    color: var(--main-white);
    transition: var(--main-transition);
    position: relative;
    z-index: 2;
}
.main__link::before{
    content: '';
    display: block;
    position: absolute;
    bottom: -10px;
    left: 50%;
    width: 0;
    height: 0;
    background: var(--main-white);
    transition: var(--secondary-transition);
    transform: translate(-50%);
    z-index: -1;
}
.main__link:hover{
    color: var(--main-accent)
}
.main__link:hover::before{
    width: 100%;
    height: 100%;
    bottom: 0px;
}