.header
    background: url('../img/dest/header/background.png')
    background-position: center 50%
    position: relative
    &__price
        position: absolute
        top: 38%
        left: 44%
    &__wrapper
        min-height: 100vh
        padding: 50px 0px
        display: flex
        flex-direction: column
        justify-content: flex-end
    &__title
        font-size: 96px
        line-height: 130%
        font-weight: 800
        margin: 0
    &__info
        color: $sec-black
        &-desc
            width: 450px
            display: block
            margin-bottom: 40px
            padding-bottom: 60px
            border-bottom: 1px solid $grey
    img
        width: 200px
        margin: 40px 0px 20px 0px
    &__btn
        margin-bottom: 20px

@media screen and ( max-width: 1200px )
    .header
        &__title
            font-size: 90px
            line-height: 100%
@media screen and ( max-width: 992px )
    .header
        background-position: center 58%
        &__title
            font-size: 80px
@media screen and ( max-width: 768px )
    .header
        &__title
            font-size: 70px
@media screen and ( max-width: 576px )
    .header
        background-color: rgba(0, 0, 0, .3)
        background-blend-mode: darken
        color: $white
        &__price
            left: 55%
        &__title
            font-size: 45px
        &__info
            color: $white
            &-desc
                width: 90%
@media screen and ( max-width: 319px )
    .header
        &__title
            font-size: 40px

@media screen and ( max-height: 600px  )
    .header
        background-color: rgba(0, 0, 0, .3)
        background-blend-mode: darken
        color: $white
        &__info
            color: $white
            &-desc
                border-bottom: 1px solid $white
