.simple
    &__wrapper
        text-align: center
        padding-left: 40px
        padding-right: 40px
        background: url('../img/dest/simple/background.png')
    &__info
        color: $white
    &__images
        margin-top: 80px
        justify-content: space-around
        align-items: center
        flex-wrap: wrap
        img
            margin: 20px