.advantages
    background: url('../img/dest/advantages/background.jpg')
    color: $white
    &__box
        justify-content: space-around
        flex-wrap: wrap
    &__card
        text-align: center
        width: 300px
        margin: 40px 20px
        img
            margin: 20px 0px 30px 0px