.about
    &__wrapper
        display: flex
        justify-content: space-between
        flex-wrap: wrap
    &__card
        width: 280px
        margin: 20px
        &-title
            margin-bottom: 30px
        &-info
            margin-left: 50px

@media screen and ( max-width: 1200px )
    .about
        &__wrapper
            justify-content: space-around