.steps
    &__wrapper
        width: 95%
    &__hgroup
        margin-bottom: 50px
    &__box
        display: flex
        justify-content: space-around
        flex-wrap: wrap
    &__card
        width: 320px
        margin: 20px 25px
        text-align: center
        img
            object-fit: cover
            width: 100%
            margin: 20px 0px
            padding: 50px 0px
            border-top: 1px solid $dark-blue
            border-bottom: 1px solid $dark-blue