//*********VARIABLES*********//

//*********COLOURS*********//
$white: #fff
$black: #000
$grey: rgba(255, 255, 255, 0.38)
//*********COLOURS*********//

//******** LAYOUT *********//
// @media screen and ( max-width: 1400px )
// @media screen and ( max-width: 1200px )
// @media screen and ( max-width: 992px )
// @media screen and ( max-width: 768px )
// @media screen and ( max-width: 576px )
// @media screen and ( max-width: 319px )