.advantages
    &__wrapper
    &__hgroup
        text-align: center
        &-title
            margin-top: $sm-gap
    &__box
        margin-top: $hg-gap
        display: flex
        justify-content: space-around
        flex-wrap: wrap
    &__card
        width: 390px
        min-height: 440px
        position: relative
        margin: 20px
        padding: 30px
        background: $brand-accent
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        text-align: center
        img
            width: 100px
        &-title
            margin-top: $mid-gap
            margin-bottom: $sm-gap
            font-size: 20px
            line-height: 32px


            