.header
    background: $brand-accent
    position: relative
    &__wrapper
        min-height: 100vh
        padding-top: 100px
    &__decoration
        position: absolute
        bottom: 0
        right: 0
        img
            width: 100%
            object-fit: cover
    &__btngroup
        a
            &:first-child
                margin-bottom: $sm-gap
                margin-right: $mid-gap
@media screen and ( max-width: 576px )
    .header
        &__decoration
            width: 150px
        &__btngroup
            a
                &:first-child
                    margin-right: 0px
@media screen and ( max-width: 319px )
    .header
        &__decoration
            width: 100px