.privacy__img,
.secure__img
    min-width: 300px
    filter: $filter
.privacy__included,
.secure__included
    svg
        width: 15px
        height: 13px
        margin-right: 10px
        fill: $secondary-accent
@media screen and ( max-width: 319px )
    .privacy__img,
    .secure__img
        min-width: 260px