//*********VARIABLES*********//


//*********COLOURS*********//
$brand-accent: #E7F1FB
$brand-white: #ffffff
$brand-black: #0A121E
$brand-grey: #455A74

$secodary-accent: #1673FF
//*********COLOURS*********//


//*********SHADOW*********//
//*********SHADOW*********//


//*********TRANSITION*********//
$transition: 0.5s
$slow-transition: 0.9s
//*********TRANSITION*********//


//*********GAP*********//
$sm-gap: 15px
$mid-gap: 27px
//*********GAP*********//


//*********BORDER*********//
$border: 2px solid $secodary-accent
$radius: 4px
//*********BORDER*********//


//*********HOVER COLOURS*********//
//*********HOVER COLOURS*********//


//*********VARIABLES*********//


//******** LAYOUT *********//
// @media screen and ( max-width: 1400px )
// @media screen and ( max-width: 1200px )
// @media screen and ( max-width: 992px )
// @media screen and ( max-width: 768px )
// @media screen and ( max-width: 576px )
// @media screen and ( max-width: 319px )