//*********VARIABLES*********//

//*********COLOURS*********//
$black: #000
$white: #fff
$grey: #525252

$accent: #A00711


$sec-black: #272727
//*********COLOURS*********//

//*********VARIABLES*********//


//******** LAYOUT *********//
// @media screen and ( max-width: 1400px )
// @media screen and ( max-width: 1200px )
// @media screen and ( max-width: 992px )
// @media screen and ( max-width: 768px )
// @media screen and ( max-width: 576px )
// @media screen and ( max-width: 319px )