.capabilities{
    width: 100%;
    min-height: 200px;
    padding: 50px 0px;     
}
.capabilities__wrap{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.capabilities__text{
    width: 70%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.capabilities__info{
    width: 60%;
    margin-right: 30px;
}
.capabilities__title{
    margin-bottom: 50px;
}
.capabilities__title::before{
    left: 15px;
}
@media screen and (max-width: 1125px){
    .capabilities__wrap{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .capabilities__title::before{
        left: 50%;
    }
}
@media screen and (max-width: 540px){
    .capabilities__text{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .capabilities__info{
        width: 100%;
        text-align: center;
        margin-right: 0;
        margin-bottom: 30px;
    }
}