.header
    width: 100%
    background: url('../img/dest/header/header-bg.png')
    background-size: cover
    background-repeat: no-repeat
    background-position: center center
    position: relative
    &__women,
    &__men
        width: 200px
        display: none
        position: absolute
        top: 10%
        z-index: -1
    &__wrapper
        min-height: 100vh
        padding-top: 80px
        display: flex
        flex-direction: column
        align-items: flex-end
        justify-content: flex-end
    &__info
        width: 100%
        background: rgba($brand-black, 0.53)
        text-align: center
        color: $brand-white
    &__body
        width: 100%
        border-radius: 55px 55px 0px 0px
        background: linear-gradient(rgba(#FFCC16, 0.7), rgba(#FFCC16, 0))
        padding: 20px
        &-info
            display: flex
            &__decoration
                width: 40%
                margin-top: 250px
                text-align: center
        &-success
            margin-top: 50px
            min-height: 200px
            flex-grow: 1
            width: 40%
            height: 100%
            text-align: right
            &__title
                font-size: 55px
            &__info
                display: none
                font-weight: 300
                font-size: 45px
                line-height: 55px
                text-align: center
                text-shadow: $text-shadow
        .nav
            margin-left: 35px
            &__open
                width: 20px
                height: 16px
                display: none
                flex-direction: column
                margin: auto
                z-index: 9
                &-line
                    width: 100%
                    height: 2px
                    margin-bottom: 2px
                    background: $brand-black
            &__list
                width: 80%
                display: flex
                justify-content: center
                border-bottom: 1px solid $brand-white
                &-close
                    display: none
                    position: absolute
                    top: 20px
                    right: 20px
                    font-size: 30px
                    color: $brand-black
                &-item
                    display: inline-block
                    font-weight: 200
                    font-size: 15px
                    line-height: 33px
                    color: $brand-black
                    text-transform: uppercase
                    margin-right: 25px
                    padding: 10px
    &__hgroup
        margin-top: 5px
        text-align: center
        &-title
            margin-bottom: 10px
            margin-top: 0px
        &-subtitle
            display: inline-block
            font-size: 88px
            padding: 10px 25px
            background: rgba($brand-white, 0.75)
            border-radius: 75px
            color: $brand-red

@keyframes floating 
  from 
    transform: translate(0, 0px)
  65% 
    transform: translate(-5px, 10px)
  to 
    transform: translate(0, -0px)
  
@keyframes floating2 
  from 
    transform: translate(0, 0px)
  65% 
    transform: translate(5px, 10px)
  to 
    transform: translate(0, -0px)

@media screen and ( max-width: 1400px )
    .header
        &__hgroup
            &-subtitle
                font-size: 60px
        &__body
            &-success
                &__title
                    font-size: 40px
@media screen and ( max-width: 1200px )
    .header
        &__body
            .nav
                margin-left: 0
                &__list
                    width: 100%
@media screen and ( max-width: 992px )
    .header
        &__body
            .nav
                &__open
                    display: flex
                &__list
                    position: fixed
                    top: -100vh
                    left: 0
                    width: 100%
                    min-height: 100vh
                    background: $brand-white
                    z-index: 9999
                    border-bottom: 0px solid $brand-white
                    flex-direction: column
                    justify-content: center
                    align-items: center
                    opacity: 0
                    transition: $transition
                    &-active
                        opacity: 1
                        top: 0vh
                    &-item
                        margin-right: 0px
                    &-close
                        display: block
                    
                    
@media screen and ( max-width: 768px )
    .header
        background: none
        overflow: hidden
        &__women,
        &__men
            display: block
            transform: rotate(-30deg)
        &__women
            left: 60px
            animation: floating2 2s linear infinite alternate
        &__men
            right: 60px
            animation: floating 2s linear infinite alternate
        &__wrapper
            padding-top: 0px
            align-items: center
            justify-content: center
            z-index: 5
        &__info
            display: none
        &__body
            min-height: 500px
            background: transparent
            &-info
                flex-direction: column-reverse
                &__decoration
                    width: 100%
                    margin-top: 20px
            &-success
                width: 100%
                text-align: center
                margin-top: 10px
                min-height: 100px
                &__info
                    display: block
                    margin-bottom: 20px
                &__title
                    text-shadow: $text-shadow
                    color: $brand-red
                    margin-bottom: 5px
                    font-size: 50px
        &__hgroup
            &-subtitle
                width: 100%
                background: none
                text-align: center
                color: $brand-black
@media screen and ( max-width: 576px )
    .header
        &__women,
        &__men
            width: 150px
        &__women
            top: 80px
            left: 20px
        &__men
            right: 20px
            bottom: 180px
        &__hgroup
            &-subtitle
                font-size: 30px
        &__body
            &-success
                &__info
                    font-size: 25px
                    line-height: 35px
                &__title
                    font-size: 30px
// @media screen and ( max-width: 319px )