.steps
    overflow: hidden
    &__secondary
        position: relative
        &-men,
        &-women,
        &-vensel-1,
        &-vensel-2
            position: absolute
            z-index: -1
        &-men,
        &-women
            right: 0
        &-men
            bottom: 10px
        &-women
            top: 20px
        &-vensel-1
            top: 25%
        &-vensel-2
            top: 50%
    &__hgroup
        width: 90%
        background: $brand-black
        color: $brand-white
        margin: auto
        text-align: center
        padding: 10px 15%
        &-title
            display: flex
            flex-direction: column
            align-items: space-between
            span
                text-transform: uppercase
    &__item
        &-secondary
            overflow-wrap: break-word
            word-wrap: wrap
            margin: 50px 10px
            &:nth-child(even)
                margin-left: 200px
            .steps__place
                color: rgba($brand-red, 0.28)
        &-body
            display: flex
            align-items: center
    .first
        .steps
            &__item-meta
                margin-top: 40px
                margin-bottom: 20px
                display: none
                align-items: center
                justify-content: center
                flex-direction: column
                .button
                    margin: 30px 0px

    .second
        margin-left: 0
        min-height: 960px
        background: url('../img/dest/places/main-bg.png')
        background-size: cover
        background-repeat: no-repeat
        .steps
            &__wrapper
                min-height: 960px
                background: url('../img/dest/places/secondary-bg.png')
                background-size: cover
                background-repeat: no-repeat
                position: relative
            &__item-text
                width: 60%
                display: flex
                justify-content: flex-end
                margin-left: auto
    .third
        .steps__info
            width: 90%
    .third-mobile
        display: none
        .steps
            &__item-body
                min-height: 100vw
                background: url(../img/dest/places/mobile-third.png)
                background-size: cover
                background-repeat: no-repeat
                background-position: center
                align-items: flex-start
            &__info
                display: block
                margin: auto
                text-align: center
                padding: 10px 30px
            &__place
                margin-left: 28px
    .second-mobile
        display: none
        margin-bottom: 50px
        .steps
            &__wrapper
                display: flex
                align-items: center
            &__item
                &-img
                    min-width: 50%
                    img
                        width: 100%
                        object-fit: cover
                &-text
                    display: flex
                    flex-direction: column
                    justify-content: center
                    align-items: center
                    text-align: center
            &__info
                margin-bottom: 22px
                margin-top: 13px
    &__place
        font-size: 255px
        line-height: 378px
        text-shadow: $text-shadow
        color: $brand-red
    &__info
        display: inline-block
        width: 50%

@media screen and ( max-width: 1400px )
    .steps
        &__info
            width: 60%
@media screen and ( max-width: 1200px )
    .steps
        &__place
            font-size: 200px
            line-height: 250px
@media screen and ( max-width: 992px )
    .steps
        &__item
            &-secondary
                &:nth-child(even)
                    margin-left: 10px
        .second
            display: none
        .third
            display: none
        .second-mobile
            display: block
        .third-mobile
            display: block
        &__place
            font-size: 180px
            line-height: 230px
        &__info
            width: 70%
@media screen and ( max-width: 768px )
    .steps
        &__secondary
            &-men,
            &-women,
            &-vensel-1,
            &-vensel-2
                width: 150px
        &__place
            font-size: 100px
            line-height: 200px
        &__info
            width: 80%
        .first
            .steps
                &__item-meta
                    display: flex
        .second-mobile
            .steps
                &__item
                    &-text
                        .decoration-text
                            font-size: 15px
@media screen and ( max-width: 576px )
    .steps
        &__hgroup
            width: 100%
        &__place
            font-size: 88px
            line-height: 130px
        &__info
            width: 90%
// @media screen and ( max-width: 319px )