.advantages
    width: 100%
    min-height: 500px
    padding: 50px 0px
    &__wrap
        width: 98%
        display: flex
        justify-content: space-around
        align-items: center
        flex-wrap: wrap
    &__box
        width: 300px
        margin: 45px
        &-title
            font-size: 28px
            margin-bottom: 20px
            color: $secondary-accent
        &-info
            font-size: 16px
            line-height: 25px
            color: rgba($secondary-accent, 50%)

@media screen and ( max-width: 1200px )
    .advantages
        &__box
            margin: 20px
            &-title
                font-size: 24px

@media screen and ( max-width: 768px )
    .advantages
        &__wrap
            width: 80%
        &__box
            width: 100%