//*********VARIABLES*********//

//*********CONTAINER WIDTH*********//
$maxWidthContainer: 1170px;
$minWidth: 270px;
$maxWidth: 1920;
//*********CONTAINER WIDTH*********//

//*********FONT*********//
$mainFont: 'Playfair Display', serif;
$titleFont: 'Oswald', sans-serif;
//*********FONT*********//

//*********COLOURS*********//
$black: #000;
$white: #fff;
$grey: #00000099;
$accent: #0C565F;
//*********COLOURS*********//

//*********TRANSITION*********//
$transition: 0.3s;
//*********TRANSITION*********//

//*********VARIABLES*********//



