//*********VARIABLES*********//

//*********CONTAINER WIDTH*********//
$maxWidthContainer: 1170px;
$minWidth: 270px;
$maxWidth: 1920;
//*********CONTAINER WIDTH*********//

//*********FONT*********//
$mainFont: 'Roboto', sans-serif;
//*********FONT*********//

//*********COLOURS*********//
$brand-black: #111;
$brand-white: #fff;

$brand-grey: rgb(103, 103, 103);
$brand-accent: rgb(199, 88, 106);

$dark-bg: #333333;
$light-bg: #fff;
//*********COLOURS*********//


//*********SHADOW*********//
//*********SHADOW*********//


//*********TRANSITION*********//
//*********TRANSITION*********//


//*********GAP*********//
//*********GAP*********//


//*********BORDER*********//
//*********BORDER*********//


//*********HOVER COLOURS*********//
//*********HOVER COLOURS*********//


//*********VARIABLES*********//


//******** LAYOUT *********//
