*
    box-sizing: border-box
    margin: 0
    padding: 0
    font-family: 'Merriweather', serif

$text-clr: black
$accent-clr: #005FA3
$bg-clr: white
$bg-gr-clr: #EBEBEB
$h2-clr: #BDBDBD
$h1-wght: 700
$p-wght: 400
$h2-wght: 300
ul
    list-style-type: none
    a
        text-decoration: none
.btn-general
    width: 270px
    height: 60px
    a
        background-color: lighten($accent-clr, 10%)
        padding: 20px 20px 
        border-radius: 3px
        text-decoration: none
        color: $bg-clr
        font-size: 18px
        line-height: 25px
        transition: all 0.9s ease
        &:hover
            background: lighten($accent-clr, 20%)
            transition: all 0.5s ease
        
