.readers
    background: $brand-black
    min-height: 690px
    &__wrapper
        display: flex
        justify-content: center
        gap: 10px
    &__choice,
    &__careers
        flex: 0 0 45%
        min-height: 570px
        border-radius: $radius
    &__choice
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        background: url('../img/dest/readers/bg.png')
        background-size: cover
        background-repeat: no-repeat
        padding: 50px
        text-align: center
        &-img
            width: 45px
            height: 45px
            img
                object-fit: cover
                width: 100%
                height: 100%
        &-name
            @include sm-size
        &-job,
        &-name
            color: $brand-grey
        &-meta
            display: flex
            flex-direction: column
            align-items: center
            margin-bottom: 30px
        &-title
            color: $brand-white
            margin-bottom: 45px
        &-button
            svg
                margin-right: 10px
            .counter
                color: $brand-grey
    &__careers
        &-item
            display: flex
            border-radius: $radius
            padding: 35px
            width: 100%
            min-height: 370px
            background: $secondary-blue
            &__wrapper
                display: flex
                margin-top: 10px
                gap: 10px
                &-item
                    width: 50%
                    min-height: 200px
                    border-radius: $radius
                    background: $brand-white
                    padding: 25px
                    display: flex
                    flex-direction: column
                    justify-content: space-between
        &-text
            flex-grow: 1
            display: flex
            flex-direction: column
            justify-content: center
            align-items: flex-start
            &__title
                margin-top: 20px
                margin-bottom: 15px
            &__info
                margin-bottom: 25px
        &-img
            margin-left: 20px
            min-width: 50%
            img 
                width: 100%
                object-fit: cover

@media screen and ( max-width: 992px )
    .readers
        &__wrapper
            flex-direction: column
@media screen and ( max-width: 576px )
    .readers
        &__choice
            padding: 25px
        &__careers
            &-item
                flex-direction: column-reverse
                &__wrapper
                    flex-direction: column
                    &-item
                        width: 100%
                        min-height: 150px
            &-img
                margin-bottom: 20px



