.subscribe
    &__hgroup
        text-align: center
        margin-bottom: 25px
    &__form
        display: flex
        justify-content: center
        flex-wrap: wrap
        input
            border: 1px solid $secondary-grey
            outline: none
            margin-right: 10px
            border-radius: 5px
            padding: 10px
            width: 300px

@media screen and ( max-width: 576px )
    .subscribe
        &__form
            input   
                margin-bottom: 20px