//*********VARIABLES*********//

//*********CONTAINER WIDTH*********//
$maxWidthContainer: 1170px;
$minWidth: 270px;
$maxWidth: 1920;
//*********CONTAINER WIDTH*********//

//*********FONT*********//
$mainFont: 'Roboto', sans-serif;
//*********FONT*********//

//*********COLOURS*********//
$brand-black: #000;
$brand-white: #fff;
$brand-accent: #0D305A;
;


$text-grey: rgba($brand-black, 0.5);
//*********COLOURS*********//

//*********TRANSITION*********//
$transition: 0.3s
//*********TRANSITION*********//

//*********VARIABLES*********//
