.features
    &__text
        padding-left: 40px
    &__list
        margin-top: 20px
        li
            margin-bottom: 15px
            color: $brand-grey
            font-size: 14px
            font-weight: 500
        svg
            width: 10px
            height: 10px
            fill: $brand-white
        span
            display: inline-block
            width: 20px
            height: 20px
            line-height: 20px
            background: $brand-green
            border-radius: 50%
            text-align: center
            margin-right: 12px