.footer {
    padding: 34px 0 25px 0;
    background: #EAE1D9;
    .container {
        display: flex;
    }
    &__wrapper_left {
       width: 192px;
    }
    &__politics {
        font-size: 13px;
        line-height: 17px;
        color: #3F8AE0;
    }
    &__agreement {
        font-size: 13px;
        line-height: 17px;
        color: #3F8AE0;
        margin-top: 7px;
    }
    &__rights {
        font-size: 13px;
        line-height: 17px;
        color: #111111;
        margin-top: 29px;
    }
    &__wrapper_center {
       margin-left: 100px;
       margin-top: 27px;
    }
    &__partner_text {
        font-size: 13px;
        line-height: 17px;
        color: #404040;
    }
    &__partner_img {
        margin-top: 15px;
    }
    &__wrapper_right {
        margin-left: auto;
        width: 192px;
    }
    &__mail {
        font-weight: 600;
        font-size: 20px;
        line-height: 26px;
        color: #3F8AE0;
        width: 192px;
        display: block;
        margin-left: auto;
        margin-bottom: 10px;
    }
    &__tel {
        font-weight: 600;
        font-size: 18px;
        line-height: 26px;
        color: #3F8AE0;
        width: 146px;
        display: block;
        margin-left: auto;
    }
    &__logo{
        width: 103px;
        height: 28px;
        margin-bottom: 17px;
        margin-top: 6px;
        margin-left: auto;
    }
}