.demo
    width: 100%
    background: $secondary-grey
    &:hover
        .demo__text-title
            color: $secondary-accent
    &__wrapper
        min-height: 500px
        padding: 50px 0px
        display: flex
        justify-content: space-around
        align-items: center
    &__image
        img
            width: 100%
            object-fit: cover
            filter: drop-shadow(3px 3px 20px $black)
    &__text
        margin-left: 30px
        &-title
            transition: $fast-transition
        &-info
            width: 70%
            margin: 20px 0px 50px 50px

@media screen and ( max-width: 992px )
    .demo
        &__wrapper
            flex-direction: column
        &__text
            margin-left: 0px
            margin-top: 40px
            &-info
                margin: 20px 0px 50px 0px