.footer
    width: 100%
    min-height: 150px
    padding: 50px
    background: $black
    color: $white
    display: flex
    align-items: center
    justify-content: space-around
    flex-wrap: wrap
    &__links
        display: flex
        flex-wrap: wrap
        justify-content: center
        list-style-type: none
        &-link
            color: $white
            margin: 0px 15px