.question{
    background: url('../../img/bg/footer.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    transition: var(--main-transition);
}
.question:hover{
    background-position: 100% center;
}
.question__wrap{
    min-height: 500px;
    padding: 50px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.question__title{
    margin-bottom: 30px;
    text-transform: none;
}