//*********VARIABLES*********//

//*********CONTAINER WIDTH*********//
$maxWidthContainer: 1170px;
$minWidth: 270px;
$maxWidth: 1920;
//*********CONTAINER WIDTH*********//

//*********FONT*********//
$mainFont: 'Montserrat', sans-serif;
//*********FONT*********//

//*********COLOURS*********//
$brand-btn-accent: #F9B31C;
$brand-accent: #F99A16;
$brand-black: #000;
$brand-white: #ffffff;
//*********COLOURS*********//

//*********TRANSITION*********//
$transition: 0.3s;
//*********TRANSITION*********//


//*********VARIABLES*********//

