.services
    background: $bg-grey
    &__box
        display: flex
        justify-content: center
        flex-wrap: wrap
    &__card
        width: 320px
        min-height: 540px
        margin: $card-gap
        background: $brand-white
        display: flex
        flex-direction: column
        box-shadow: $card-shadow
        &-text
            padding: 0px 30px 30px 30px
            text-align: center
            flex-grow: 1
            display: flex
            flex-direction: column
            justify-content: space-around
            align-items: center
        &-img
            width: 100%
            img
                width: 100%
                object-fit: cover

@media screen and ( max-width: 576px )
    .services
        &__card
            margin: $card-gap 0
            width: 100%