//*********VARIABLES*********//

//*********CONTAINER WIDTH*********//
$maxWidthContainer: 1170px;
$minWidth: 270px;
$maxWidth: 1920;
//*********CONTAINER WIDTH*********//

//*********FONT*********//
$mainFont: 'Montserrat', sans-serif;
//*********FONT*********//

//*********COLOURS*********//
$brand-accent: #30B53D;
$brand-black: #343634;
$brand-white: #ffffff;

$secondary-black: #000;

//*********COLOURS*********//

//*********TRANSITION*********//
$transition: 0.3s;
//*********TRANSITION*********//

//*********BORDER*********//
$border: 2px solid rgba($brand-black, .8);
//*********BORDER*********//

//*********VARIABLES*********//

