*
    margin: 0
    padding: 0
    box-sizing: border-box
    font-family: 'Sigmar One', cursive
    font-family: 'Dosis', sans-serif

body
    overflow-x: hidden
.wrap
    max-width: 1720px
    min-height: 100vh
    margin: auto

h1, h2, h3, h4, h5, h6
    font-family: 'Sigmar One', cursive
// vars
$shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)
$black: #333333
$white: #ffffff