.header
    background: url('../img/dest/header/header-bg.png')
    background-color: rgba($brand-black, 0.3)
    background-size: cover
    background-repeat: no-repeat
    background-blend-mode: darken
    background-position: center right
    &__box
        min-height: 100vh
        padding: 80px 0px
        display: flex
        align-items: center
    &__text,
    &__img
        padding: 0px 20px
    &__text
        &-title
            font-weight: normal
            font-size: 106px
            color: $secondary-white
        &-info
            font-size: 24px
            line-height: 36px
            margin-top: 24px
            margin-bottom: 72px
            color: $secondary-blue
    &__img
        width: 80%
        img
            width: 100%
            object-fit: cover
    &__cards
        &-box
            display: flex
            justify-content: space-around
            flex-wrap: wrap
        &-hgroup
            margin-bottom: 32px
    &__hgroup-title
            color: $secondary-white
    &__card
        width: 480px
        min-height: 310px
        margin: 10px
        padding: 32px
        background: rgba($brand-white, 0.5)
        transition: $transition
        &:hover
            background: rgba($brand-white, 0.3) 
            backdrop-filter: blur(14px)
            img
                transform: translateX(50%)
        &-title
            color: $secondary-white
            margin: 19px 0px 10px 0px
        &-info
            color: $secondary-blue
        img
            transition: $transition
@media screen and ( max-width: 1400px )
    .header
        &__text
            &-title
                font-size: 70px
@media screen and ( max-width: 1200px )
    .header
        &__text
            &-title
                font-size: 65px
@media screen and ( max-width: 992px )
    .header
        &__img
            display: none
        &__text
            &-title
                font-size: 60px
        &__card
            flex-grow: 1
@media screen and ( max-width: 768px )
    .header
        &__text
            &-title
                font-size: 50px
@media screen and ( max-width: 576px )
    .header
        &__text
            &-title
                font-size: 40px
            &-info
                font-size: 20px
                line-height: 30px
@media screen and ( max-width: 320px )
    .header
        &__text
            &-title
                font-size: 30px
