//*****MAIN INTERFACE STYLES*****//

//*****FONTS CONNECTING*****//
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
//*****RESET UNUSABLE DEFAULT STYLES*****//
*
    margin: 0
    padding: 0
    box-sizing: border-box
    font-size: 16px
    font-family: 'Roboto', sans-serif
    color: $brand-black
button
    all: unset
    cursor: pointer
a
    text-decoration: none
ul
    list-style-type: none
    
//*****MAIN CLASSES*****//

//*****CONTAINER OF ALL CONTENT*****//
.container
    max-width: 1920px
    margin: auto
//*****CONTAINER OF BLOCK*****//
.wrapper
    max-width: 1500px
    margin: auto
//*****MAIN BLOCK STYLES*****//
.section
    padding: 140px 0px
//*****MAIN SPRITE*****//
.main-sprite
    display: none
//*****MAIN HGROUP*****//
.main__hgroup

//*****MAIN TITLE*****//
.title
    font-weight: normal
    font-size: 60px
    line-height: 90px
//*****CARD TITLE*****//
.card-title
    font-weight: normal
    font-size: 40px
    line-height: 60px
    letter-spacing: 0.25px
//*****MAIN INFO*****//
.info
    font-size: 16px
    line-height: 24px
    letter-spacing: 0.1px
//*****MAIN BUTTON*****//
.button
    width: 190px
    display: flex
    justify-content: center
    align-items: center
    padding: 10px 25px
    color: $button-font
    font-size: 16px
    text-transform: uppercase
    background: $brand-yellow
    transition: $transition
    border-radius: $radius
    svg
        margin-left: 13px
        width: 35px
        height: 35px
        fill: $button-font
        transition: $transition

.button.empty
    border: $border
    background: transparent
    color: $brand-yellow
    svg
        width: 20px
        height: 20px
        fill: none
        stroke: $brand-yellow
    &:hover
        color: $brand-white
        background: $brand-yellow
        svg
            fill: $brand-white
//*****MAIN LINK*****//
.link
    font-size: 12px
    line-height: 18px
    letter-spacing: 0.75px
    text-transform: uppercase

//*****MEIDA QUERIES*****//
@media screen and ( max-width: 1620px )
    .wrapper
        max-width: 1400px
    .main__hgroup
        text-align: center
@media screen and ( max-width: 1440px )
    .wrapper
        max-width: 1100px
    .title
        font-size: 50px
        line-height: 70px
    .card-title
        font-size: 30px
        line-height: 50px
@media screen and ( max-width: 1200px )
    .wrapper
        max-width: 900px
    .title
        font-size: 45px
        line-height: 60px
    .card-title
        font-size: 28px
        line-height: 40px
@media screen and ( max-width: 992px )
    .wrapper
        max-width: 700px
    .title
        font-size: 40px
        line-height: 50px
    .card-title
        font-size: 26px
        line-height: 35px
@media screen and ( max-width: 768px )
    .wrapper
        max-width: 500px
    .title
        font-size: 30px
        line-height: 40px
    .card-title
        font-size: 24px
        line-height: 30px
    .section
        padding: 100px 0px
@media screen and ( max-width: 576px )
    .wrapper
        max-width: 290px
    .title
        font-size: 25px
        line-height: 35px
    .card-title
        font-size: 18px
        line-height: 26px
    .section
        padding: 80px 0px
    .info
        font-size: 14px
        line-height: 20px
    .button
        font-size: 14px
@media screen and ( max-width: 319px )
    .wrapper
        max-width: 260px
    .title
        font-size: 20px
        line-height: 30px
    .card-title
        font-size: 15px
        line-height: 20px
    .section
        padding: 50px 0px
