.products
    &__wrapper
        position: relative
        height: 700px
    &__image
        width: 100%
        height: 100%
        img
            width: 100%
            height: 100%
            object-fit: cover
    &__slider
        position: absolute
        width: 80%
        min-height: 320px
        left: 32px
        bottom: 400px
        padding: 32px 64px
        .slick-prev,
        .slick-next
            padding: 10px
            z-index: 9
            position: absolute
            bottom: 40px
            svg
                width: 15px
                height: 24px
                fill: $brand-grey
                transition: $fst-transition
            &:hover
                svg
                    fill: $brand-yellow
        .slick-prev
            right: 160px
        .slick-next
            right: 64px
    &__slider-card
        margin: 10px
    &__card
        &-info
            display: inline-block
            width: 70%
            margin: 15px 0px 36px 0px
        &-btn
            svg
                width: 20px
                height: 20px

@media screen and ( max-width: 992px )
    .products
        &__wrapper
            height: auto
        &__slider
            width: 100%
            left: 0
            bottom: 0
            padding: 15px 30px
            .slick-prev,
            .slick-next
                bottom: 10px
            .slick-prev
                left: 64px
            .slick-next
                left: 160px
        &__card
            &-info
                width: 100%
            
@media screen and ( max-width: 576px )
    .products
        &__slider
            &-card
                text-align: center
                margin: 0px 0px
                padding: 10px
            .slick-prev,
            .slick-next
                bottom: -5px
            .slick-prev
                left: 25%
            .slick-next
                left: 65%
        &__card
            &-btn
                margin: auto
