// $yellow: #FFD84E
// $red: #FB6363
// $pink: #A66DF5
// $green: #6DD6B0
// $blue: #708CF0
// $purple: #A02E8E

    
.speed
    &__hgroup
        margin-bottom: 96px
    &__box
        display: flex
        justify-content: space-around
        flex-wrap: wrap
    &__card
        flex: 1 0 30%
        margin: 0px 10px 90px 10px
        display: flex
        align-items: center
        &-title
            margin-bottom: 8px
    &__text
        margin-left: 30px
// .speed__card-title
//     &:nth-child(1)
//         color: $yellow
//     &:nth-child(2)
//         color: $red
//     &:nth-child(3)
//         color: $pink
//     &:nth-child(4)
//         color: $green
//     &:nth-child(5)
//         color: $blue
//     &:nth-child(6)
//         color: $purple
@media screen and ( max-width: 1620px )
    .speed
        &__card
            flex: 1 0 48%
            &-info  
                display: inline-block
                width: 75%
@media screen and ( max-width: 768px )
    .speed
        &__hgroup
            margin-bottom: 60px
        &__card
            flex: 0 0 100%
            margin: 0px 0px 50px 0px
            flex-direction: column
            align-items: start
            &-info  
                width: 100%
        &__img
            margin-bottom: 20px
        &__text
            margin-left: 0px
@media screen and ( max-width: 576px )
    .speed
        &__img
            img
                width: 80px
@media screen and ( max-width: 319px )
    .speed
        &__img
            img
                width: 50px