.team
    &__hgroup
        display: flex
        align-items: flex-end
        justify-content: space-around
        margin-bottom: 96px
        &-text
            width: 70%
            padding-right: 60px
        &-title
            margin-bottom: 17px
        &-btn
            width: 370px
            height: 80px
    &__box
        display: flex
        justify-content: space-around
        flex-wrap: wrap
    &__card
        width: 350px
        margin: 0px 10px 130px 10px
        position: relative
        &:hover
            .team__card-img
                img
                    transform: scale(1.2)
        &-img
            overflow: hidden
            border-radius: 60px
            img
                width: 100%
                object-fit: cover
                transition: $transition
        &-meta
            width: 80%
            min-height: 160px
            padding: 20px 30px
            position: absolute
            bottom: -50%
            left: 50%
            transform: translate(-50%, -70%)
            transition: $transition
            &:hover
                background: rgba($brand-white, 0.5)
            ul
                margin-top: 30px
                width: 100%
                display: flex
                justify-content: space-between
            .team__social-link
                svg
                    width: 46px
                    height: 46px
                    fill: $brand-blue
                    transition: $transition
                &:hover
                    svg
                        fill: $brand-grey
    &__meta
        &-name
            margin-bottom: 5px
            font-weight: 500
        &-job
            color: $brand-blue
            font-size: 16px
            line-height: 24px
            font-weight: bold

@media screen and ( max-width: 1620px )
    .team
        &__card
            margin: 0px 25px 130px 25px
@media screen and ( max-width: 992px )
    .team
        &__hgroup
            flex-direction: column
            align-items: flex-start
            &-text
                width: 100%
                padding-right: 0px
                margin-bottom: 30px
@media screen and ( max-width: 576px )
    .team
        &__hgroup
            &-btn
                width: 250px
                height: 60px
                svg
                    display: none
        &__card
            &-meta
                width: 100%
                transform: translate(-50%, -30%)
                .link
                    svg
                        width: 36px
                        height: 36px
