//*********VARIABLES*********//

//*********COLOURS*********//
$brand-black: #373737
$brand-grey: #707070
$brand-white: #FFFFFF
$brand-yellow: #FFD703
$brand-blue: #3FC2BB

$secondary-blue: #CEFFFD
$secondary-white: #F4F4F4

$button-font: #2C2C2C

$footer-font: #38B7AF
$footer-bg: #0B514D
//*********COLOURS*********//

//*********TRANSITION*********//
$md-transition: 0.7s
$transition: 0.5s
//*********TRANSITION*********//

//*********FILTER*********//
$blur: blur(24px)
//*********FILTER*********//
    
//*********BORDER*********//
//*********BORDER*********//

//*********HOVER COLOURS*********//
//*********HOVER COLOURS*********//

//*********VARIABLES*********//


//******** LAYOUT *********//
// @media screen and ( max-width: 1400px )
// @media screen and ( max-width: 1200px )
// @media screen and ( max-width: 992px )
// @media screen and ( max-width: 768px )
// @media screen and ( max-width: 576px )
// @media screen and ( max-width: 319px )