//*********VARIABLES*********//

//*********CONTAINER WIDTH*********//
$maxWidthContainer: 1170px;
$minWidth: 270px;
$maxWidth: 1920;
//*********CONTAINER WIDTH*********//

//*********FONT*********//
$mainFont: 'Playfair Display', serif;
//*********FONT*********//

//*********COLOURS*********//
$brand-white: #fff;
$brand-black: #000;

$brand-grey: #D1D1D1;


//*********COLOURS*********//


//*********SHADOW*********//
//*********SHADOW*********//


//*********TRANSITION*********//
//*********TRANSITION*********//


//*********GAP*********//
//*********GAP*********//


//*********BORDER*********//
//*********BORDER*********//


//*********HOVER COLOURS*********//
//*********HOVER COLOURS*********//


//*********VARIABLES*********//


//******** LAYOUT *********//
// @media screen and ( max-width: 1400px )
// @media screen and ( max-width: 1200px )
// @media screen and ( max-width: 992px )
// @media screen and ( max-width: 768px )
// @media screen and ( max-width: 576px )
// @media screen and ( max-width: 319px )