.info
    min-height: 400px
    background: $main-white
    &__image
        min-height: 400px
        background-image: url('../img/dest/section4.png')
    &__text
        min-height: 400px
        padding: 30px
        padding-top: 180px
        display: flex
        justify-content: space-between
    &__container
        width: 30%
    &__list
        list-style-type: none
        li,a
            margin-bottom: 10px
            color: $secondary-accent
        a::after
            background: $secondary-accent
    &__title
        margin-bottom: 20px

@media screen and ( max-width: 1200px )
    .info
        &__image
            display: none
        &__text
            width: 100%
            padding-top: 30px
            align-items: center
            justify-content: space-around
            flex-wrap: wrap
        &__container
            width: 300px 
            margin: 20px