.nav
    width: 100%
    height: 80px
    display: flex
    justify-content: space-around
    align-items: center
    position: fixed
    left: 0
    z-index: 999
    &__logo
        margin: 20px
    &__menu
        list-style-type: none
        display: flex
        column-gap: 15px
        align-items: center
        position: relative
        &-item
            padding: 10px
            color: $secondary-accent
            font-size: 14px
            transition: $fast-transition
            &:hover
                color: $main-accent
        .select-line
            width: 40px
            height: 1px
            position: absolute
            bottom: -5px
            left: 10px
            background: $secondary-accent
            transition: $fast-transition

.nav-active
    background: $main-white
    transition: $low-transition
    box-shadow: $material-shadow
    animation: nav_anim $low-transition linear 1

@keyframes nav_anim
    0%
        opacity: 0
        top: -100px
        box-shadow: none
    100%
        opacity: 1
        top: 0
        box-shadow: $material-shadow


@media screen and ( max-width: 640px )
    .nav
        &__contact-btn
            display: none
@media screen and ( max-width: 450px )
    .nav
        height: 60px
        &__logo
            display: none
        &__menu
            column-gap: 5px