.header{
    min-height: 100vh;
    display: flex;
    position: relative;
    .price__info{
        display: none;
    }
    &__left,
    &__right{
        height: 100vh;
        flex: 0 0 50%;
        img{
            opacity: 0;
            @include responseImg;
            height: 100%;
            transition: 0.3s;
        }
    }
    &__img{
        top: 20px;
        position: absolute;
        img{
            width: 200px;
        }
    }
    &__wrapper{
        pointer-events: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        padding: 10px 20px;
        height: 100%;
    }
    &__title,
    &__subtitle{
        span{
            transition: 0.2s;
        }
    }
    &__title{
        margin: 0;
        margin-bottom: 60px;
        @include adaptiveFont(200, 80);
        display: flex;
        position: relative;
    }
    &__subtitle{
        @include adaptiveFont(100, 50);
    }
    &__btn{
        position: relative;
        z-index: 10;
        pointer-events: initial;
    }
}

.header.left{
    .header__left{
        img{
            opacity: 1;
        }
    }
    .rightSpan{
        color: $info-black
    }
    .leftSpan{
        color: $white
    }
}

.header.right{
    .header__right{
        img{
            opacity: 1;
        }
    }
    .leftSpan{
        color: $info-black;
    }
    .rightSpan{
        color: $white;
    }
}

@include tablet{
    .header{
        &__btn{
            margin-top: 40px;
        }
        .price__info{
            display: block;
            .info{
                color: $white
            }
            h6{
                color: $purple
            }
        }
        &__title{
            margin-bottom: 80px;
        }
        @include backgroundImg('../img/dest/header/header-right-bg.jpg');
        &__img{
            top: 30%;
            transform: translateY(-50%);
            img{
                width: 100px;
            }
        }
        &__left,
        &__right{
            display: none;
        }
        .leftSpan,
        .rightSpan{
            color: $white !important;
        }
    }
}
