.secret{
    &__box{
        @include cardWidth(300px);
        justify-content: center;
        gap: 50px;
    }
    &__card{
        text-align: center;
        img{
            margin: 20px 0px;
        }
    }
}

@include phone{
    .secret{
        &__box{
            @include cardWidth(250px);
        }
    }
}
