//*********VARIABLES*********//


//*********COLOURS*********//
$brand-accent: #C9A878


$brand-white: #ffffff
$brand-black: #000000
$brand-grey: rgba($brand-white, 0.66)

$secondary-black: rgba($brand-black, 0.6)
$secondary-accent: rgba($brand-accent, 0.9)

$black-bg: #181818 
//*********COLOURS*********//


//*********GRADIENT*********//
$gradient: linear-gradient(180deg, #000000 0%, #383535 46.15%, #000000 100%)
//*********GRADIENT*********//

//*********SHADOW*********//
$shadow: drop-shadow(0px 4px 26px rgba(0, 0, 0, 0.25))
//*********SHADOW*********//


//*********TRANSITION*********//
$transition: 0.5s
//*********TRANSITION*********//

//*********VARIABLES*********//


//******** LAYOUT *********//
// @media screen and ( max-width: 1400px )
// @media screen and ( max-width: 1200px )
// @media screen and ( max-width: 992px )
// @media screen and ( max-width: 768px )
// @media screen and ( max-width: 576px )
// @media screen and ( max-width: 319px )