//*********VARIABLES*********//

//*********CONTAINER WIDTH*********//
$maxWidthContainer: 1170px;
$minWidth: 270px;
$maxWidth: 1920;
//*********CONTAINER WIDTH*********//

//*********FONT*********//
// $mainFont:
//*********FONT*********//

//*********COLOURS*********//
$accent: #334F5A;
$secondary-accent: #00CAD6;
$white: #fff;
//*********COLOURS*********//

//*********VARIABLES*********//
