.about
    padding-top: 200px
    &__text
        margin-bottom: 200px
        &-info
            margin: 20px 0px 10px 0px
@media screen and ( max-width: 320px )
    .about
        padding-top: 100px
        &__text
            margin-bottom: 100px