*
    margin: 0
    padding: 0
    box-sizing: border-box
    font-family: 'Montserrat', sans-serif
    font-size: 14px

*::selection
    color: $brand-white
    background-color: $brand-yellow

html
    color: $brand-black
p
    color: $secondary-black
a
    text-decoration: none
button
    all: unset
    cursor: pointer

.general-wrap
    max-width: 1800px
    margin: auto
//MAIN CLASSES
.wrap
    width: 85%
    margin: auto
.main-sprite
    display: none
.title
    font-weight: 800
    font-size: 40px
    line-height: 57px
    letter-spacing: 0.2px
    text-transform: uppercase
    margin: 0
    padding: 0
.info
    font-weight: 500
    font-size: 14px
    line-height: 20px
    letter-spacing: 0.2px
    color: $secondary-black
.secondary-title
    font-weight: bold
    font-size: 16px
    line-height: 24px
    letter-spacing: 0.1px
.main-btn
    display: block
    width: 185px
    height: 48px
    text-align: center
    line-height: 48px
    background: $secondary-accent
    border-radius: 38px
    color: $brand-white
    transition: $fast-transition
.yellow-bg
    background: $brand-yellow
    
.main-btn
    &:hover
        background: $accent
.main-btn.yellow-bg
    &:hover
        background: darken($brand-yellow, 10%)
.hgroup
    text-align: center
    .title
        margin-bottom: 10px
    .info
        display: inline-block
        width: 60%
.main-link
    display: inline-block
    position: relative
    &:hover
        &::after
            width: 100%
    &::after
        content: ''
        position: absolute
        bottom: 5px
        left: 50%
        width: 0%
        height: 1px
        background: $brand-white
        transition: $fast-transition
        transform: translate(-50%, -50%)
        
@media screen and ( max-width: 1200px )
    .wrap
        width: 87%
    .title
        font-size: 34px
        line-height: 48px
    .main-btn
        width: 180px
        height: 45px
        line-height: 45px
@media screen and ( max-width: 992px )
    .wrap
        width: 89%
    .title
        font-size: 30px
        line-height: 44px
    .main-btn
        width: 175px
@media screen and ( max-width: 768px )
    .wrap
        width: 92%
    .title
        font-size: 28px
        line-height: 40px
    .main-btn
        width: 175px
        height: 40px
        line-height: 40px
@media screen and ( max-width: 576px )
    .wrap
        width: 92%
    .title
        font-size: 26px
        line-height: 38px
    .main-btn
        width: 165px
    .hgroup
        .info
            width: 80%
@media screen and ( max-width: 319px )
    .title
        font-size: 24px
        line-height: 34px
    .main-btn
        width: 160px
    .hgroup
        .info
            width: 90%