//********VARIABLES********//

//********COLOURS********//
    
//********MAIN********//
$accent: #00A0C1
$brand-white: #FFF
$brand-black: #252B42
$brand-yellow: #FFA62B

//********SECONDARY********//
$secondary-accent: #8EC2F2
$secondary-white: #FAFAFA
$secondary-black: #737373

//********COLOURS********//

//********SHADOW********//
$main-shadow: 0px 13px 19px rgba(0, 0, 0, 0.3)
//********SHADOW********//

//********TRANSITIONS********//
$transition: 0.5s
//********TRANSITIONS********//

//******** LAYOUT *********//
// @media screen and ( max-width: 1400px )
// @media screen and ( max-width: 1200px )
// @media screen and ( max-width: 992px )
// @media screen and ( max-width: 768px )
// @media screen and ( max-width: 576px )
// @media screen and ( max-width: 319px )
