.popup
    .module__wrapper
        form
            .form__box
                h4.form__box-title.card-title Name
                input(type="text",name='name',placeholder='Name')
            .form__box
                h4.form__box-title.card-title Email
                input(type="email",name='email',placeholder='Email')
            .form__box
                h4.form__box-title.card-title Phone
                input(type="tel",name='phone',placeholder='Phone')
            button.button(type='submit') Subscribe
        button.module__btn-close &#10006;