block vars
    -
        var menu_list = [
            {
                title: 'About', 
                href: '#about'
            },
            {
                title: 'Features',
                href: '#features'
            },
            {
                title: 'Pricing',
                href: '#pricing'
            },
            {
                title: 'Testimonials',
                href: '#testimonials'
            },
            {
                title: 'Help',
                href: '#help'
            }
        ]


nav.nav
    .nav__wrapper.wrapper
        .nav__logo
            +svg('logo')
        ul.nav__menu
            each value in menu_list
                +li(value.href, value.title, 'nav__menu-item')
        ul.nav__meta
            li
                a(href="#").nav__meta-item.link Sign In
            li
                a(href="#").secondary-button Sign Up
             
        button.nav__burger
            span
            span
            span
            span