*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider-container{
    width: 480px;
    height: 500px;
    position: relative;
}
.container-img{
    width: 480px;
    height: 500px;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}
.container-before{
    z-index: 3;
}
.container-img img{
    width: 480px;
    height: 100%;
    object-fit: cover;
}