//*********VARIABLES*********//


//*********COLOURS*********//
$brand-white: #ffffff
$brand-black: #000000

$dark-grey: #666666
$light-grey: #AAAAAA

$bg-grey: #fafafa

$brand-accent: #F25822
//*********COLOURS*********//


//*********SHADOW*********//
$btn-shadow: 4px 4px 8px rgba(242, 88, 34, 0.2)

$card-shadow: 15px 25px 60px -5px rgba(0, 0, 0, 0.06)
//*********SHADOW*********//


//*********TRANSITION*********//
$slow-transition: 0.75s
$medium-transition: 0.5s
$fast-transition: 0.3s
//*********TRANSITION*********//


//*********GAP*********//
$hgroup-gap: 55px
$card-gap: 30px
//*********GAP*********//


//*********BORDER*********//
$border-radius: 50px
$border: 1px solid #EEEEEE
//*********BORDER*********//

    
//*********VARIABLES*********//


//******** LAYOUT *********//
// @media screen and ( max-width: 1400px )
// @media screen and ( max-width: 1200px )
// @media screen and ( max-width: 992px )
// @media screen and ( max-width: 768px )
// @media screen and ( max-width: 576px )
// @media screen and ( max-width: 319px )