.using
    background: $black url('../img/dest/using/background.png')
    padding-top: 100px
    &__box
        flex-wrap: wrap
        justify-content: center
    &__card
        flex: 0 0 50%
        text-align: center
        margin: 50px 0px
        &-info
            display: block
            width: 320px
            margin: auto
        &-wrap
            position: relative
        &-number
            display: block
            position: absolute
            bottom: 23px
            left: 50%
            transform: translateX(-50%)
            width: 60px
            height: 60px
            background: $white
            border-radius: 50%
            font-size: 36px
            line-height: 60px
        img
            margin-bottom: 40px
        
                
