-
    var lang = "zxx";
    var titlePage = "LaslesVpn";

<!DOCTYPE html>
html(lang=lang)
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title #{titlePage}
        //-MAIN MINIMIZATION STYLES
        link(rel="stylesheet", href="css/app.min.css")
        //- NORMALIZE AND SLICK STYLES CONNECTING 
        link(rel="stylesheet", href="css/libs.min.css")
    body
        block content
        //- MAIN MINIMIZATION SCRIPTS
        script(src="js/app.min.js")