.global.section
    .global__wrapper.wrapper
        .global__hgroup.hgroup
            h2.global__hgroup-title.title Huge Global Network of Fast VPN
            h3.global__hgroup-subtitle.subtitle See LaslesVPN everywhere to make it easier for you when you move locations.
        .global__image
            img(src="img/dest/huge-global.png", alt="")