header.header
    .header__wrapper.wrapper.section.section__wrapper
        .header__text.section__text
            h1.header__text-title Want anything to be easy with <span>LaslesVPN</span>.
            h2.header__text-subtitle.subtitle Provide a network for all your needs with ease and fun using LaslesVPN discover interesting features from us.
            a(href="#").header__text-btn.button Get Started
        .header__image.section__image
            img(src="img/dest/header.svg", alt="img")