//*********VARIABLES*********//

//*********COLOURS*********//
$white: #fff
$black: #000
$grey: rgba($white, .73)
$brown: #696666
$light-blue: #013D49
$dark-blue: #022F38
//*********COLOURS*********//

//*********TRANSITION*********//
$fast-transition: 0.3s
$mid-transition: 0.5s
//*********TRANSITION*********//

//*********VARIABLES*********//


//******** LAYOUT *********//
// @media screen and ( max-width: 1400px )
// @media screen and ( max-width: 1200px )
// @media screen and ( max-width: 992px )
// @media screen and ( max-width: 768px )
// @media screen and ( max-width: 576px )
// @media screen and ( max-width: 319px )