.advantages{

    &__hgroup{
        color: $brand-white;
    }

    &__wrapper{
        @include cardWidth(240px);
    }

    &__card{
        text-align: center;
        &-img{
            margin-bottom: 20px;
            width: 100%;
            img{
                @include responseImg;
            }
        }
        &-title{
            margin-bottom: 10px;
            width: 100%;
            min-height: 50px;
            border-radius: 20px;
            background: $brand-white;
            text-align: center;
            line-height: 50px;
        }

        &-info{
            color: $brand-white;
        }
    }
}
