//*****MAIN INTERFACE STYLES*****//

//*****FONTS CONNECTING*****//
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap');
//*****RESET UNUSABLE DEFAULT STYLES*****//
*
    margin: 0
    padding: 0
    box-sizing: border-box
    font-size: 16px
    font-family: 'Montserrat', sans-serif
button
    all: unset
    cursor: pointer
a
    text-decoration: none
ul
    list-style-type: none

//*****MAIN CLASSES*****//

//*****CONTAINER OF ALL CONTENT*****//
.container
    max-width: 1920px
    margin: auto
//*****CONTAINER OF BLOCK*****//
.wrapper
    width: 1140px 
    margin: auto
//*****MAIN BLOCK STYLES*****//
.section
    padding: 30px 0px
//*****MAIN TITLE*****//
.title
    font-size: 56px
    line-height: 68px
    font-weight: 800
    text-transform: uppercase
    text-shadow: $text-shadow
    color: $brand-accent
//*****SECONDARY TITLE*****//
.secondary-title
    font-size: 36px
    line-height: 44px
    font-weight: 600
//*****MAIN INFO*****//
.info
    font-size: 24px
    line-height: 39px
    font-weight: 400
    letter-spacing: 0.025em
//*****MAIN INFO*****//
.lg-info
    font-size: 30px
    line-height: 35px
    font-weight: 400
    color: $brand-blue
//*****MAIN BUTTON*****//
.button
    display: inline-block
    width: 300px
    height: 85px
    background: linear-gradient(180deg, #B03C7B 0%, #C45A93 48.75%, #B03C7B 100%)
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25)
    border-radius: 63px
    line-height: 85px
    text-align: center
    font-size: 32px
    letter-spacing: 0.025em
    color: $brand-white
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
    transition: $transition
    &:hover
        background: linear-gradient(180deg, #f767b6 0%, #a5497a 48.75%, #802a59 100%)
//*****MAIN H1 STYLE*****//
.main-title
    margin: 0
    font-weight: 800
    font-size: 72px
    line-height: 87px
    color: $brand-white
    text-transform: uppercase
    text-shadow: $text-shadow

//*****MEIDA QUERIES*****//
@media screen and ( max-width: 1400px )
    .wrapper
        width: 1140px
    .title
        font-size: 55px
        line-height: 65px
@media screen and ( max-width: 1200px )
    .wrapper
        width: 960px
    .main-title
        font-size: 65px
        line-height: 80px
    .button
        width: 250px
        height: 65px
        line-height: 65px
        font-size: 30px
    .title
        font-size: 50px
        line-height: 60px
@media screen and ( max-width: 992px )
    .wrapper
        width: 730px
    .main-title
        font-size: 60px
        line-height: 75px
    .title
        font-size: 40px
        line-height: 50px
    .secondary-title
        font-size: 30px
        line-height: 40px
    .lg-info
        font-size: 25px
        line-height: 30px
    .info
        font-size: 20px
        line-height: 30px
@media screen and ( max-width: 768px )
    .wrapper
        width: 540px
    .main-title
        font-size: 55px
        line-height: 65px
    .title
        font-size: 35px
        line-height: 40px
    .secondary-title
        font-size: 25px
        line-height: 30px
    .lg-info
        font-size: 22px
        line-height: 28px
@media screen and ( max-width: 576px )
    .wrapper
        width: 285px
    .main-title
        font-size: 30px
        line-height: 35px
    .title
        font-size: 25px
        line-height: 30px
    .secondary-title
        font-size: 20px
        line-height: 25px
    .info
        font-size: 16px
        line-height: 21px
    .lg-info
        font-size: 18px
        line-height: 20px
@media screen and ( max-width: 319px )
    .wrapper
        width: 270px
    .title
        font-size: 20px
        line-height: 25px
    .secondary-title
        font-size: 18px
        line-height: 23px
    .info
        font-size: 15px
        line-height: 20px
