.footer
    width: 100%
    min-height: 100px
    background: lighten($accent-clr, 5%)
    display: flex
    justify-content: center
    align-items: center
    h1
        color: $bg-clr
    