.slick-slider
    
#slick-slide-control00,#slick-slide-control01,#slick-slide-control02,#slick-slide-control03,#slick-slide-control04
    &::before
        color: $bg-clr
#slick-slide-control10,#slick-slide-control11,#slick-slide-control12,#slick-slide-control13,#slick-slide-control14,#slick-slide-control15,#slick-slide-control16
    &::before
        color: $accent-clr
.header-slider
    padding-top: 150px 
    .slick-dots
        width: 200px
        text-align: start
.work-slider
    
    

