// fonts connected
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
//reset different styles
*
    margin: 0
    padding: 0
    box-sizing: border-box
    font-family: 'Roboto', sans-serif
    color: $brand-black
ul
    list-style-type: none
a
    text-decoration: none
button
    all: unset
//main classes
.svg-sprite
    display: none
.container
    max-width: 1440px
    margin: auto

.wrapper
    width: 1200px
    margin: auto