// fonts connected
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
//reset different styles
*
    margin: 0
    padding: 0
    box-sizing: border-box
    font-family: 'Roboto', sans-serif
    color: $brand-black
ul
    list-style-type: none
a
    text-decoration: none
button
    all: unset
//main classes
.svg-sprite
    display: none

.container
    max-width: 1440px
    margin: auto

.wrapper
    width: 1200px
    padding: $section-gap
    margin: auto

.main-btn
    display: block
    width: 230px
    height: 56px
    background: $accent
    border-radius: 44px

    color: $brand-white
    text-align: center
    line-height: 56px
    font-size: 14px
    letter-spacing: 1.96px
    text-transform: uppercase

@media screen and ( max-width: 1400px )
    .wrapper
        width: 1170px
@media screen and ( max-width: 1200px )
    .wrapper
        width: 950px
@media screen and ( max-width: 992px )
    .wrapper
        width: 730px
    .main-btn
        width: 200px
        height: 50px
        line-height: 50px
@media screen and ( max-width: 768px )
    .wrapper
        width: 550px
    .main-btn
        width: 180px
        height: 40px
        line-height: 40px
        text-transform: inherit
@media screen and ( max-width: 576px )
    .wrapper
        width: 300px
@media screen and ( max-width: 319px )
    .wrapper
        width: 95%