// fonts connected
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
//reset different styles
*
    margin: 0
    padding: 0
    box-sizing: border-box
    font-family: 'Roboto', sans-serif
    color: $brand-black
h1,h2,h3,h4,h5,h6
    font-weight: 400
ul
    list-style-type: none
a
    text-decoration: none
button
    all: unset
//main classes
.svg-sprite
    display: none

.container
    max-width: 1440px
    margin: auto

.wrapper
    width: 1200px
    padding: $section-gap
    margin: auto

.card-title
    font-size: 18px
    line-height: 22px
    letter-spacing: 0.36px

.title
    font-size: 32px
    line-height: 37px

.info
    font-size: 15px
    line-height: 24px


.main-btn
    display: inline-block
    padding: 20px 30px
    background: $accent
    border-radius: 44px

    color: $brand-white
    font-size: 14px
    letter-spacing: 1.96px
    text-transform: uppercase
    transition: $transition
    &:hover
        color: $accent
        background: $brand-white
.main-btn.white
    background: $brand-white
    color: $brand-black
    &:hover
        color: $brand-white
        background: $brand-black
.main-btn.grey
    background: $grey-btn-bg
    color: $accent
    &:hover
        color: $grey-btn-bg
        background: $accent

.main-link
    position: relative
    &:hover
        &::after
            width: 100%
    &::after
        content: ''
        position: absolute
        bottom: -1px
        left: 50%
        width: 0
        height: 1px
        background: $accent
        transform-origin: center
        transform: translateX(-50%)
        transition: $transition

@media screen and ( max-width: 1400px )
    .wrapper
        width: 1170px
    .title
        font-size: 30px
        line-height: 34px
@media screen and ( max-width: 1200px )
    .wrapper
        width: 950px
    .title
        font-size: 28px
        line-height: 32px
@media screen and ( max-width: 992px )
    .wrapper
        width: 730px
    .main-btn
        padding: 15px 25px
    .title
        font-size: 26px
        line-height: 30px
@media screen and ( max-width: 768px )
    .wrapper
        width: 550px
    .main-btn
        text-transform: inherit
    .title
        font-size: 24px
        line-height: 30px
@media screen and ( max-width: 576px )
    .wrapper
        width: 300px
    .title
        font-size: 22px
        line-height: 28px
@media screen and ( max-width: 319px )
    .wrapper
        width: 95%
    .title
        font-size: 20px
        line-height: 26px