.nav
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 62px
    padding: 0px 24px
    display: flex
    justify-content: space-between
    align-items: center
    box-shadow: $shadow
    background: $brand-white
    z-index: 999
    &__menu,
    &__meta
        height: 100%
        display: flex
        align-items: center
    &__link,
    &__shopping,
    &__account
        padding: 23px
        font-size: 14px
        line-height: 18px
        letter-spacing: 1.96px
        text-transform: uppercase
        transition: $transition
        &:hover
            color: $accent
    &__shopping
        &:hover
            svg
                fill: $brand-black
        svg
            width: 24px
            height: 24px
            fill: $brand-white
            stroke: $brand-black
            transition: $transition
    &__link
        display: flex
        align-items: center
        svg
            width: 16px
            height: 16px
            margin-right: 13px
            opacity: 0
            fill: $brand-white
            transition: $transition
        &:hover
            background: $accent
            color: $brand-white
            svg
                opacity: 1
    &__burger-btn
        display: none
        width: 30px
        height: 20px
        position: relative
        span
            position: absolute
            width: 100%
            height: 2px
            background: $brand-black
            transform: translateY(-50%)
            transition: $transition
            &:nth-child(1)
                top: 1px
            &:nth-child(4)
                bottom: 0
            &:nth-child(2),
            &:nth-child(3)
                top: 50%

// active settings
.nav
    .burger-active
        span
            &:nth-child(1),
            &:nth-child(4)
                opacity: 0
            &:nth-child(2)
                transform: rotate(-45deg) translateY(-50%)
            &:nth-child(3)
                transform: rotate(45deg) translateY(-50%)
    .nav__menu-active
        top: 0
        opacity: 1
        pointer-events: inherit
        

@media screen and ( max-width: 1200px )
    .nav
        &__meta
            display: none

@media screen and ( max-width: 992px )
    .nav
        &__menu
            position: fixed
            top: -100vh
            left: 0
            right: 0
            opacity: 0
            height: 100vh
            background: $brand-white
            display: flex
            justify-content: center
            align-items: center
            flex-direction: column
            pointer-events: none
            transition: $slow-transition
        &__link
            display: inline-block
            width: 500px
            height: 50px
            text-align: center
            line-height: 50px
            padding: 0
            svg
                display: none
        &__burger-btn
            display: block
