//*********VARIABLES*********//


//*********COLOURS*********//

$header-bg: #F2AE4D
$footer-bg: #F2F3F4
$recommendaition-bg: #FFCA3A
$services-bg: #72BDA3

$brand-black: #011F3A
$brand-white: #FFF
$accent: #3D5675

$grey-font: #A1A1A1
$grey-bg: #EEEEEE
$grey-btn-bg: #F2F2F2

//*********COLOURS*********//



//*********SHADOW*********//

$shadow: 0px 14px 44px rgba(143, 143, 143, 0.25)

//*********SHADOW*********//


//*********TRANSITION*********//

$transition: 0.5s
$slow-transition: 0.9s

//*********TRANSITION*********//



//*********VARIABLES*********//


//******** LAYOUT *********//
// @media screen and ( max-width: 1400px )
// @media screen and ( max-width: 1200px )
// @media screen and ( max-width: 992px )
// @media screen and ( max-width: 768px )
// @media screen and ( max-width: 576px )
// @media screen and ( max-width: 319px )