extend bases
block content
    include preloader
    .container
        include mixin
        include sprite
        include nav
        include header
        include reviews
        include graphic
        include speed
        include products
        include team
        include form
        include footer