.cards
    display: grid
    &__box
        position: relative
        padding: 20px
        &::before
            content: ''
            position: absolute
            top: 65px
            left: 50%
            display: block
            width: 80%
            height: 1px
            background: $main-white
            transform: translateX(-50%)
        &-title
            color: $main-white
            margin-left: 20px
            margin-top: 80px
            position: relative
            width: auto
            &::after
                content: ''
                position: absolute
                top: 50%
                left: -15px
                display: block
                width: 10px
                height: 10px
                border-radius: 50%
                background: $main-orange
                transform: translateY(-50%)
       
