//**********Colours**********
//main colours
$main-accent: #62D0DF
$main-white: #FFFFFF
$main-orange: #F9B640
$main-rose: #FFE2DE
$main-green: #C4E769



//secondary colours
$secondary-accent: #22356F
$secondary-white: #F4F9E2

//hover colours
$dark-main-accent: darken($main-accent, 15%)
$light-main-accent: darken($main-accent, 15%)

//**********Transition**********
$fast-transition: 0.5s
$low-transition: 0.9s

//**********Shadows**********
$material-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)



