//*********VARIABLES*********//

//*********CONTAINER WIDTH*********//
$maxWidthContainer: 1170px;
$minWidth: 270px;
$maxWidth: 1920;
//*********CONTAINER WIDTH*********//

//*********FONT*********//
$mainFont: 'Montserrat', sans-serif;
//*********FONT*********//

//*********COLOURS*********//
$brand-accent: #4FBA6F;
$brand-coral: #DDB099;
$brand-black: #3B3C3C;
$brand-white: #ffffff;
//*********COLOURS*********//

//*********TRANSITION*********//
$transition: 0.3s;
//*********TRANSITION*********//

//*********BORDER*********//
$border: 2px solid rgba($brand-black, .8);
//*********BORDER*********//

//*********VARIABLES*********//

