.aside
    border-radius: $radius
    display: flex
    flex-direction: column
    &__hgroup
        &-title
            @include sm-size
            letter-spacing: 0.5px
            text-transform: uppercase
            display: inline-block
            padding: 19px
        &-top
            border-bottom: 1px solid rgba($brand-white, 0.5)
        &-bottom
            text-align: center
            border-top: 1px solid rgba($brand-white, 0.5)
    &__wrapper
        display: flex
        flex-direction: column
        flex-grow: 1
        padding: 0px 25px
    &__item
        flex-grow: 1
    &__item:not(:last-child)
        border-bottom: 1px solid rgba($brand-white, 0.5)
