//*********VARIABLES*********//

//*********COLOURS*********//
$brand-accent: #4592FF
$brand-white: #FFFFFF
$brand-black: #262D33
$brand-grey: #D9DADB
$brand-blue: #6E99AE


$secondary-black: #30363D
$secondary-grey: #4B5157
$secondary-blue: #B4D1E0

$dark-grey: #939699
//*********COLOURS*********//

//*********TRANSITION*********//
$fst-transition: 0.3s
$transition: 0.5s
$sl-transition: 0.7s
//*********TRANSITION*********//

//*********BORDER*********//
$radius: 10px
//*********BORDER*********//

//*********VARIABLES*********//


//******** LAYOUT *********//
// @media screen and ( max-width: 1400px )
// @media screen and ( max-width: 1200px )
// @media screen and ( max-width: 992px )
// @media screen and ( max-width: 768px )
// @media screen and ( max-width: 576px )
// @media screen and ( max-width: 319px )