//*********VARIABLES*********//

//*********CONTAINER WIDTH*********//
$maxWidthContainer: 1170px;
$minWidth: 270px;
$maxWidth: 1920;
//*********CONTAINER WIDTH*********//

//*********FONT*********//
$mainFont: 'News Cycle', sans-serif;
//*********FONT*********//


//*********COLOURS*********//
$accent: rgb(235, 38, 38);
//*********COLOURS*********//


//*********SHADOW*********//
//*********SHADOW*********//


//*********TRANSITION*********//
//*********TRANSITION*********//


//*********GAP*********//
//*********GAP*********//


//*********BORDER*********//
//*********BORDER*********//


//*********HOVER COLOURS*********//
//*********HOVER COLOURS*********//


//*********VARIABLES*********//


//******** LAYOUT *********//
