.plan
    background: linear-gradient(to bottom, $secondary-white, $brand-white)
    &__hgroup
        margin-bottom: 60px
        &-title
            margin-bottom: 20px
    &__box
        display: flex
        flex-wrap: wrap
        justify-content: space-around
    &__card
        margin: 30px 10px
        width: 330px
        min-height: 760px
        background: $brand-white
        padding: 50px 60px
        display: flex
        flex-direction: column
        align-items: center
        text-align: center
        border-radius: $radius
        border: 2px solid $secondary-grey
        transition: $transition
        &:hover
            border-color: $brand-accent
        &-price
            margin-bottom: 20px
        &-title
            margin: 30px 0px
        &-notes
            flex-grow: 1
            text-align: start
            li
                margin-bottom: 25px
                font-size: 14px
                color: $brand-grey
                span
                    margin-right: 25px
                svg
                    width: 13px
                    height: 10px
                    fill: $brand-green

@media screen and ( max-width: 768px )
    .plan
        &__card
            min-height: 700px
            flex-grow: 1
            padding: 20px 30px

