.header{
    &__wrapper{
        padding-top: 50px;
        padding-bottom: 50px;
        min-height: 100vh;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    &__subtitle{
        color: $text-grey;
        font-weight: 400;
    }
    &__note{
        margin-top: 60px;
        margin-bottom: 15px;
    }

    &__img{
        display: none;
        margin-top: 40px;
        width: 100%;
        img{
            @include responseImg;
        }
    }

    &__play{
        display: flex;
        align-items: center;
        margin-top: 50px;
        color: $brand-black;
        &-icon{
            width: 80px;
            height: 80px;
        }
        &-info{
            margin-left: 30px;
        }
    }
}

@include tablet{
    .header{
        &__wrapper{
            justify-content: center;
            align-items: center;
            text-align: center;
        }
        &__img{
            display: block;
        }
        &__note{
            margin-top: 20px;
        }
        &__play{
            flex-direction: column;
            justify-content: center;
            &-info{
                margin-left: 0;
                margin-top: 10px;
            }
        }
    }
}
