//*****MAIN INTERFACE STYLES*****//

//*****FONTS CONNECTING*****//
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto&display=swap');
//*****RESET UNUSABLE DEFAULT STYLES*****//
*
    margin: 0
    padding: 0
    box-sizing: border-box
    font-size: 16px
    font-family: 'Inter', sans-serif
    color: $brand-black
h1,h2,h3,h4,h5,h6
    font-family: 'Roboto', sans-serif
button
    all: unset
    cursor: pointer
a
    text-decoration: none
ul
    list-style-type: none

//*****MAIN CLASSES*****//
.svg-sprite
    display: none
//*****CONTAINER OF ALL CONTENT*****//
.container
    max-width: 1440px
    margin: auto
//*****CONTAINER OF BLOCK*****//
.wrapper
    max-width: 1250px
    margin: auto
//*****MAIN BLOCK STYLES*****//
.section
    padding: $hg-gap 0px
//*****MAIN TITLE*****//
.title
    font-weight: normal
    font-size: 72px
    line-height: 76px
.title__el
    margin-top: $sm-gap
    margin-bottom: $mid-gap
//*****MAIN SUBTITLE*****//
.subtitle
    font-size: 12px
    line-height: 24px
    font-weight: normal
    letter-spacing: 1.2px
    text-transform: uppercase
//*****MAIN INFO*****//
.info
    font-size: 18px
    line-height: 32px
    color: $brand-grey
    font-weight: normal
//*****MAIN BUTTON*****//
.button
    display: inline-flex
    padding: 20px 30px
    background: $secondary-accent
    color: $brand-white
    border: $border
    font-family: Inter
    font-size: 12px
    line-height: 24px
    letter-spacing: 0.6px
    text-transform: uppercase
    transition: $transition
    outline: 2px solid transparent
    svg
        width: 16px
        height: 16px
        fill: $brand-white
        margin-left: $mid-gap
    &:hover
        outline-offset: -10px
        outline-color: $brand-white
.button.empty
    background: transparent
    border-color: $brand-black
    color: $brand-black
    svg
        fill: $brand-black
    
//*****MAIN LINK*****//
.link
    display: inline-block
    position: relative
    z-index: 1
    transition: $fast-transition
    &::before
        content: ''
        width: 0
        height: 0
        position: absolute
        top: 50%
        left: 50%
        background: $secondary-accent
        z-index: -1
        transition: $fast-transition
        transform-origin: center
        transform: translate(-50%, -50%)
    &:hover
        color: $brand-white
        &::before
            width: 100%
            height: 100%
//*****MEIDA QUERIES*****//
@media screen and ( max-width: 1400px )
    .info
        font-size: 18px
        line-height: 32px
    .wrapper
        max-width: 1100px
    .title
        font-size: 50px
        line-height: 70px
@media screen and ( max-width: 1200px )
    .info
        font-size: 17px
        line-height: 30px
    .wrapper
        max-width: 950px
    .title
        font-size: 45px
        line-height: 65px
@media screen and ( max-width: 992px )
    .info
        font-size: 16px
        line-height: 28px
    .wrapper
        max-width: 720px
    .title
        font-size: 40px
        line-height: 60px
    .section
        padding: $mid-gap 0px
@media screen and ( max-width: 768px )
    .subtitle
        font-size: 10px
        line-height: 18px
    .info
        font-size: 15px
        line-height: 26px
    .wrapper
        max-width: 510px
    .title
        font-size: 35px
        line-height: 45px
@media screen and ( max-width: 576px )
    .info
        font-size: 16px
        line-height: 24px
    .wrapper
        max-width: 300px
    .title
        font-size: 30px
        line-height: 35px
@media screen and ( max-width: 319px )
    .wrapper
        max-width: 270px
    .title
        font-size: 25px
        line-height: 30px
