.partners
    &__hgroup
        margin-bottom: $mid-gap
        text-align: center
    &__box
        display: flex
        flex-wrap: wrap
        justify-content: space-around
        img
            margin: $mid-gap