$spinkit-size: 6em !default
$spinkit-spinner-color: $secondary-accent

.preloader
    position: fixed
    top: 0
    left: 0
    width: 100%
    min-height: 100vh
    display: grid
    place-items: center
    background: $brand-white
    z-index: 99999
    transition: $transition


.sk-spinner-pulse 
  width: $spinkit-size
  height: $spinkit-size
  margin: auto
  background-color: $spinkit-spinner-color
  border-radius: 100%
  animation: sk-spinner-pulse 1.0s infinite ease-in-out


@keyframes sk-spinner-pulse 
  0% 
    transform: scale(0)
  100% 
    transform: scale(1.0)
    opacity: 0
  


