.secondary__section
    &-wrapper
        display: flex
        justify-content: space-between
        flex-wrap: wrap
    &-box,
    &-hgroup
        flex-basis: 45%
    &-box
        display: flex
        justify-content: space-between
        flex-wrap: wrap
    &-card
        width: 180px
        margin: $sm-gap
        p,img
            transition: $transition
        &:hover
            img,p
                transform: translateY(-5px)
            img
                transform: translateY(-5px) rotate(10deg) scale(1.1)


@media screen and ( max-width: 992px )
    .secondary__section
        &-hgroup
            margin-bottom: $mid-gap
        &-box,
        &-hgroup
            flex-basis: 100%