//*********VARIABLES*********//


//*********COLOURS*********//
$brand-accent: #E7F1FB
$brand-white: #ffffff
$brand-black: #0A121E
$brand-grey: #455A74

$secondary-accent: #1673FF
$secondary-grey: #EAEEF2
//*********COLOURS*********//


//*********SHADOW*********//
$filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
$shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.25)
//*********SHADOW*********//


//*********TRANSITION*********//
$fast-transition: 0.3s
$transition: 0.5s
$slow-transition: 0.9s
//*********TRANSITION*********//


//*********GAP*********//
$sm-gap: 15px
$mid-gap: 27px
$hg-gap: 80px
//*********GAP*********//


//*********BORDER*********//
$border: 2px solid $secondary-accent
$radius: 4px
$table-border: 1px solid rgba(191, 204, 224, 0.5)
//*********BORDER*********//

//*********VARIABLES*********//


//******** LAYOUT *********//
// @media screen and ( max-width: 1400px )
// @media screen and ( max-width: 1200px )
// @media screen and ( max-width: 992px )
// @media screen and ( max-width: 768px )
// @media screen and ( max-width: 576px )
// @media screen and ( max-width: 319px )