//*********VARIABLES*********//

//*********CONTAINER WIDTH*********//
$maxWidthContainer: 1170px;
$minWidth: 270px;
$maxWidth: 1920px;
//*********CONTAINER WIDTH*********//

//*********FONT*********//
$mainFont: 'Roboto', sans-serif;
//*********FONT*********//

//*********COLOURS*********//
$text-black: #19191B;
$text-white: #FFF;
$text-grey: rgba($text-black, .55);

$bg-dark-grey: #C7C7C7;
$bg-light-grey: #ECECEC;
//*********COLOURS*********//


//*********SHADOW*********//
$nav-shadow: 0px 4px 25px 0px #0000000A;
//*********SHADOW*********//


//*********TRANSITION*********//
$fst-transition: 0.3s;
$md-transition: 0.5s;
$lg-transition: 0.7s;
//*********TRANSITION*********//


//*********BORDER*********//
$light-border: 1px solid #EFEFEF;
$dark-border: 1px solid #C7C7C7;
//*********BORDER*********//


//*********VARIABLES*********//


//******** LAYOUT *********//
// @media screen and ( max-width: 1400px )
// @media screen and ( max-width: 1200px )
// @media screen and ( max-width: 992px )
// @media screen and ( max-width: 768px )
// @media screen and ( max-width: 576px )
// @media screen and ( max-width: 319px )