//*****MAIN INTERFACE STYLES*****//

//*****FONTS CONNECTING*****//
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
//*****RESET UNUSABLE DEFAULT STYLES*****//
*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $mainFont;
}
html{
    scroll-behavior: smooth;
    scroll-padding-top: 20px;
}
button{
    all: unset;
    cursor: pointer;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}

//*****MAIN CLASSES*****//

//*****CONTAINER OF ALL CONTENT*****//
.container{
    max-width: $maxWidth + px;
    min-width: $minWidth;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.main{
    flex-grow: 1;
}
//*****CONTAINER OF BLOCK*****//
.wrapper{
    max-width: $maxWidthContainer;
    margin: auto;
    @include desktop{
        max-width: 970px;
    }
    @include laptop{
        max-width: 750px;
    }
    @include tablet{
        max-width: none;
        padding-left: 60px;
        padding-right: 60px;
    }
    @include phone{
        padding-left: 30px;
        padding-right: 30px;
    }
    @include sm-phone{
        padding-left: 10px;
        padding-right: 10px;
    }
}

//*****MAIN BLOCK STYLES*****//
.section{
    padding-top: 50px;
    padding-bottom: 50px;
}
//*****HGROUP*****//
.hgroup{
    width: 80%;
    margin: auto;
    text-align: center;
    margin-bottom: 50px;
    h2{
        margin-bottom: 10px;
    }
}
//*****TITLES*****//
.main-site-title{
    margin: 0;
    letter-spacing: 0.11em;
    @include adaptiveFont(96, 40);
}

.section-title,
.block-title{
    @include adaptiveFont(38, 22);
}
.section-title{
    text-align: center;
    line-height: 130%;
}
.block-title{
    line-height: 100%;
}
//*****INFO*****//
.info{
    font-family: $mainFont;
    @include adaptiveFont(24, 16);
}

.grey{
    color: $text-grey;
}
//*****BUTTON*****//
.button{
    display: block;
    width: 260px;
    height: 80px;
    text-transform: uppercase;
    text-align: center;
    line-height: 80px;
    @include adaptiveFont(30, 18);
    transition: $transition;
    position: relative;
    color: $brand-white;
}

.button:before {
    position: absolute;
    content: '';
    width: inherit;
    height: inherit;
    top: 0px;
    left: 0px;
    background-color: transparent;
    background: linear-gradient(132deg,transparent 20px,$brand-accent 10px,$brand-accent 260px,transparent -51px,transparent);
    z-index: -1;
}

.button.circle{
    display: block;
    width: 150px;
    height: 150px;
    line-height: 150px;
    border-radius: 50%;
    @include btn;
}

.button.black{
    @include btn($brand-black, $brand-black, $brand-white);
}


.accent-text{
    color: $brand-accent;
}

@include tablet{
    .button{
        width: 200px;
        height: 60px;
        line-height: 60px;
        &::before{
            background: linear-gradient(132deg,transparent 20px,$brand-accent 10px,$brand-accent 200px,transparent -51px,transparent);
        }
    }

}

@include phone{
    .button.circle{
        width: 100px;
        height: 100px;
        line-height: 100px;
    }
}

.uppercase{
    text-transform: uppercase;
}


