.info-box
    background: $brand-black
    color: $brand-white
    &__info
        width: 90%
        display: block
        margin: auto
        text-align: center

.white
    background: $brand-white
    &__info
        color: $brand-black