.info-box
    background: $brand-black
    color: $brand-white
    &__info
        width: 90%
        display: block
        margin: auto
        text-align: center

.white
    background: $brand-white
    &__info
        color: $brand-black

@media screen and ( max-width: 576px )
    .info-box.wrapper
        width: 100%
    .info-box
        padding: 20px 0px
        