.title-box
    background: url('../img/dest/general/gradient-right.png')
    background-size: cover
    background-repeat: no-repeat
    position: relative
    z-index: 1
    &__wrapper
        text-align: center
        z-index: 5