//*********VARIABLES*********//

//*********CONTAINER WIDTH*********//
$maxWidthContainer: 1170px;
$minWidth: 270px;
$maxWidth: 1920;
//*********CONTAINER WIDTH*********//

//*********FONT*********//
$mainFont: 'Montserrat', sans-serif;
//*********FONT*********//

//*********COLOURS*********//
$brand-accent: #428FC6;
$brand-black: #000000;
$brand-white: #ffffff;

$bg: #EBEFF5;
//*********COLOURS*********//

//*********TRANSITION*********//
$transition: 0.3s;
//*********TRANSITION*********//

//*********VARIABLES*********//

