//*********VARIABLES*********//

//*********CONTAINER WIDTH*********//
$maxWidthContainer: 1170px;
$minWidth: 270px;
$maxWidth: 1300;
//*********CONTAINER WIDTH*********//

//*********FONT*********//
$mainFont: 'Playfair Display', serif;
$titleFont: 'Oswald', sans-serif;
//*********FONT*********//

//*********COLOURS*********//
$brand-black: #000;
$brand-white: #fff;

$text-grey: rgba($brand-black, 0.5);
//*********COLOURS*********//

//*********TRANSITION*********//
$transition: 0.3s
//*********TRANSITION*********//


//*********VARIABLES*********//
