.companies
    width: 100%
    background: $secondary-white
    &__wrap
        padding: 50px 0px 100px 0px
        min-height: 300px
        display: flex
        align-items: center
        justify-content: space-around
        flex-wrap: wrap
        img
            margin: 30px
            
            