.footer
    width: 100%
    background: $accent
    &__wrap
        padding: 80px 0px
        min-height: 300px
        display: flex
        justify-content: space-between
        flex-wrap: wrap
    &__list
        margin: 20px
        list-style-type: none
        &-title,
        &-link
            color: $brand-white
        &-title
            margin-bottom: 20px
        &-link
            padding: 10px 0px 10px 0px
        li
            margin-bottom: 15px