.nav
    position: fixed
    top: 0
    left: 0
    width: 100%
    z-index: 23
    background: transparent
    transition: $fast-transition
    &__wrap
        height: 72px
        display: flex
        justify-content: space-between
        align-items: center
    .burger-btn
        width: 25px
        height: 22px
        display: flex
        flex-direction: column
        justify-content: space-around
        align-items: flex-end
        z-index: 3
        &:hover
            span
                width: 100%
                &:nth-child(2)
                    width: 100%
                &:nth-child(3)
                    width: 100%
        span
            display: block
            width: 100%
            height: 1px
            background: $brand-black
            transition: $fast-transition
            &:nth-child(2)
                width: 70%
            &:nth-child(3)
                width: 30%
    &-logo
        &__title
            font-size: 24px
            line-height: 32px
            letter-spacing: 0.1px
    &__menu
        position: fixed
        top: 0
        right: -600px
        width: 280px
        height: 100vh
        padding: 50px
        display: flex
        flex-direction: column
        background: $brand-white
        list-style-type: none   
        z-index: 5
        transition: $transition
        box-shadow: $main-shadow
        li
            margin-bottom: 30px
        &-item
            color: $brand-black
            padding: 10px
            &:hover
                color: $accent
                font-weight: bold
            &::after
                background: $accent
.active-menu
    right: 0
.active-nav
    background: $brand-white
    box-shadow: $main-shadow

@media screen and ( max-width: 320px )
    .nav
        &__menu
            width: 70%