.appeal
    width: 100%
    background: $grey-bg
    &__hgroup
        margin-bottom: 55px
        text-align: center
        &-title
            font-weight: 700
    &__btngroup
        display: flex
        justify-content: center
        flex-wrap: wrap
    &__btn
        margin: 20px 12px