.services
    width: 100%
    background: $grey-bg
    padding: $section-gap
    &__wrapper
        background: $services-bg
        padding: 50px 30px
        box-shadow: $shadow
    &__hgroup
        text-align: center
        margin-bottom: 46px
    &__box
        display: flex
        justify-content: space-around
        flex-wrap: wrap
    &__card
        margin: 20px
        text-align: center
        &-img
            max-width: 100%
            margin-bottom: 45px
        &-title
            margin-bottom: 10px
        &-info
            display: inline-block
            width: 70%
            color: $accent
    &__btn
        text-align: center
        margin-top: 75px

@media screen and ( max-width: 576px )
    .services
        &__card
            &-img
                margin-bottom: 25px
            &-info
                width: 90%
