.cashback
    width: 100%
    min-height: 200px
    padding: 50px
    &__wrap
        width: 60%
        text-align: center
    &__title
        font-weight: bold

@media screen and ( max-width: 768px )
    .cashback
        &__wrap
            width: 100%
// @media screen and ( max-width: 576px )
// @media screen and ( max-width: 320px )