.footer
    width: 100%
    min-height: 300px
    padding: 50px 0px
    border-top: $border
    border-top-color: $grey
    display: flex
    align-items: flex-start
    justify-content: space-around
    flex-wrap: wrap
    &__list
        width: 150px
        margin: 20px
        &-title
            display: block
            margin-bottom: 30px
            font-size: 20px
        &-link
            display: block
            margin-bottom: 10px