.header
    &__wrap
        min-height: 100vh
    &__text
        width: 400px
        &-title
            margin: 25px 0px
        &-info
            margin: 35px 0px
        &-subtitle
            font-weight: 400
            font-size: 16px
        &-link
            display: block
            width: 140px
            img
                width: 100%
                object-fit: cover

@media screen and ( max-width: 576px )
    .header
        &__text
            width: 100%
            margin-top: 50px
            &-info
                margin: 20px 0px
            &-subtitle
                font-size: 14px
            &-link
                display: block
                width: 100px
            &-title
                font-size: 20px
                margin: 15px 0px