//FONTS
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

//MAIN STYLES  
*
    margin: 0
    padding: 0
    box-sizing: border-box
    font-family: 'Nunito', sans-serif
    color: $black
button
    cursor: pointer
    outline: none
    border: none
a
    text-decoration: none
ul
    list-style-type: none

// MAIN CLASSES
.title
    font-weight: 400
    font-size: 36px
    line-height: 43px
.info
    font-size: 18px
    line-height: 26px
.btn
    display: block
    width: 150px
    height: 40px
    border: $border
    border-radius: $radius
    background: $white
    font-size: 18px
    line-height: 40px
    text-align: center
    color: $black
    transition: $transition
    &:hover
        color: $white
        background: $black
.link
    transition: $transition
    border-bottom: $border
    border-bottom-color: transparent
    &:hover
        border-bottom-color: $black
.wrap
    width: 80%
    margin: auto
.general__wrap
    max-width: 1440px
    margin: auto

@media screen and ( max-width: 1400px )
    .title
        font-size: 34px
    .info
        font-size: 17px
        line-height: 24px
@media screen and ( max-width: 1200px )
    .title
        font-size: 32px
    .info
        font-size: 16px
        line-height: 22px
@media screen and ( max-width: 992px )
    .title
        font-size: 28px
    .info
        font-size: 15px
        line-height: 20px
@media screen and ( max-width: 768px )
    .title
        font-size: 24px
    .info
        font-size: 14px
        line-height: 18px
@media screen and ( max-width: 576px )
    .title
        font-size: 22px
    .info
        font-size: 13px
        line-height: 16px
@media screen and ( max-width: 320px )
    .title
        font-size: 18px
    .info
        font-size: 12px
        line-height: 14px