//********COLOURS********//
$black: #222222
$white: #ffffff

$grey: lighten($black, 50%)
//********COLOURS********//

//********TRANSITION********//
$transition: 0.5s
//********TRANSITION********//

//********BORDER********//
$radius: 50px
$border: 1px solid $black

$secondary-radius: 6px
//********BORDER********//

//******** SHADOWS *********//
$shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)
//******** SHADOWS *********//


// @media screen and ( max-width: 1400px )
// @media screen and ( max-width: 1200px )
// @media screen and ( max-width: 992px )
// @media screen and ( max-width: 768px )
// @media screen and ( max-width: 576px )
// @media screen and ( max-width: 320px )