$header-grey: #FFFFFF61;


.header{
    position: relative;
    background: linear-gradient(90deg, #292929 0%, #000000 100%);
    overflow-y: hidden;
    &__decoration{
        display: block;
        position: absolute;
        top: 0;
        bottom: -10px;
        img{
            height: 100%;
            object-fit: cover;
        }

        &-right{right: 0;}
        &-left{left: 0;}
    }

    &__wrapper{
        padding-top: 50px;
        padding-bottom: 50px;
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    &__subtitle{
        color: $header-grey;
    }

    &__title{
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        color: #2c2929;
        font-weight: 900;
        @include adaptiveFont(120, 60);
        margin: 0;
    }

    &__meta{
        display: flex;
        align-items: center;
    }

    &__product{
        margin-bottom: 30px;
        margin-top: -50px;
        width: 40%;
        img{
            width: 100%;
            object-fit: cover;
        }
    }

    &__price-info.price__info{
        color: $header-grey;
    }

    &__about{
        margin-left: 25px;
        display: flex;
        align-items: center;
        &-icon{
            margin-right: 10px;
            width: 70px;
            height: 70px;
            border-radius: 50%;

            font-size: 44px;
            font-weight: 500;
            line-height: 66px;
            text-align: center;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            color: $brand-accent;

            border: 3px solid lighten($color: $header-grey, $amount: 10%);
        }
        &-text{
            color: $header-grey
        }
    }
}


@include tablet{
    .header{
        &__meta{
            flex-direction: column;
        }

        &__about{
            margin-top: 20px;
            &-icon{
                width: 50px;
                height: 50px;
                font-size: 26px;
                line-height: 46px;
            }
        }

    }
}

@include phone{
    .header{
        &__wrapper{
            padding-top: 20px;
            padding-bottom: 20px;
        }
        &__decoration{
            display: none;
        }


        &__product{
            margin-top: -25px;
            width: 60%;
        }

        &__price.price{
            flex-direction: column;
            a,button{
                margin-bottom: 10px;
            }
        }
        &__price-info.price__info{
            margin-left: 0;
            text-align: center;
        }
    }
}
