.advantages
    background: linear-gradient(180deg, #622E17 0%, #401C0C 48.23%, #421B09 100%)
    &__wrapper
        display: flex
        justify-content: space-around
        align-items: center
        flex-wrap: wrap
    &__card
        margin: 20px
        text-align: center
        color: $brand-white
        img
            margin: 5px 0px