.secret
    &__img
        width: 40%
        min-height: 120%
        img
            width: 100%
            height: 100%
            object-fit: cover
    &__text
        width: 60%
        padding: 50px
        &-title
            text-align: center
            margin-bottom: 50px
    &__box
        height: 90%
        flex-direction: column
        justify-content: space-around
    &__card
        margin: 40px 0px
        align-items: center
        &-img
            margin-right: 20px
            position: relative
        &-number
            display: block
            width: 70px
            height: 70px
            text-align: center
            line-height: 70px
            border-radius: 50%
            position: absolute
            bottom: -10px
            left: -10px
            color: $white
            background: linear-gradient(180deg, #B83959 0%, #F1819D 50.31%, #B83959 100%)

@media screen and ( max-width: 992px )
    .secret
        &__img
            display: none
        &__text
            width: 100%

@media screen and ( max-width: 576px )
    .secret
        &__card
            flex-direction: column
            text-align: center
            &-img
                margin-right: 0
                margin-bottom: 50px
