.advantages
    padding-top: 200px
    &__title
        margin-bottom: 200px
@media screen and ( max-width: 320px )
    .advantages
        padding-top: 100px
        &__title
            margin-bottom: 100px