.blog
    &__box
        margin-top: 40px
        display: flex
        flex-wrap: wrap
        justify-content: space-around
        &-card
            flex-grow: 1
            margin: 10px
            width: 300px
            min-height: 400px
            &:nth-child(1)
                background: $brand-purple
            &:nth-child(2)
                background: $brand-green
            &:nth-child(3)
                background: $brand-yellow