.footer
    display: flex
    justify-content: space-around
    align-items: center
    flex-wrap: wrap
    &__list
        list-style-type: none
        margin: 20px
        li
            margin: 5px 0px
            a
                padding: 5px
        &-title
            margin-bottom: 10px
            color: $brand-white
            cursor: inherit
            &::before
                display: none