$spinkit-size: 6em
$spinkit-spinner-color: $brand-purple
.loader
    position: fixed
    top: 0
    left: 0
    width: 100%
    min-height: 100vh
    background: $brand-black
    display: flex
    justify-content: center
    align-items: center
    z-index: 999
    transition: $low-transition
    .sk-wandering-cubes 
        $animationDuration: 1.5s
        width: $spinkit-size
        height: $spinkit-size
        position: relative
        margin: auto
        .sk-cube 
            background-color: $spinkit-spinner-color
            width: ($spinkit-size / 4)
            height: ($spinkit-size / 4)
            position: absolute
            top: 0
            left: 0
            animation: sk-wandering-cubes $animationDuration ease-in-out $animationDuration infinite both
        .sk-cube-2 
            animation-delay: (-$animationDuration / 2)
        


@keyframes sk-wandering-cubes 
  $cubeDistance: ($spinkit-size / 2)
  0% 
    transform: rotate(0deg)
  25% 
    transform: translateX($cubeDistance) rotate(-90deg) scale(0.5)
  50% 
    transform: translateX($cubeDistance) translateY($cubeDistance) rotate(-179deg)
  50.1% 
    transform: translateX($cubeDistance) translateY($cubeDistance) rotate(-180deg)
  75% 
    transform: translateX(0) translateY($cubeDistance) rotate(-270deg) scale(0.5)
  100% 
    transform: rotate(-360deg)
  
