.signs
    &__card-title
        font-size: 16px
        margin: 10px 0px
    &__box
        margin-top: 30px
        display: flex
        flex-wrap: wrap
        gap: $gap
        &-card
            min-height: 200px
            flex-basis: 250px
            flex-grow: 1
            border-radius: $main-radius
            background: $secondary-black
            padding: 20px
            &:hover
                background: $brand-black
                svg
                    transform: scale(1.1) rotate(-5deg)
            svg
                width: 50px


            