// COLOURS
$brand-grey: #C4C4C8
$brand-white: #FFFFFF
$brand-black: #000000
$brand-green: #25E197
$brand-yellow: #FFD233
$brand-purple: #792EFF

$secondary-grey: #47474C
$secondary-black: #1C1C1E
$secondary-white: #8E8E98
// COLOURS


//BORDER-RADIUS
$main-radius: 10px
$secondary-radius: 16px
//BORDER-RADIUS


//TRANSITION
$low-transition: 0.9s
$mid-transition: 0.7s
$fast-transition: 0.5s
//TRANSITION


//GAP
$gap: 10px
//GAP


//******** LAYOUT *********//
// @media screen and ( max-width: 1400px )
// @media screen and ( max-width: 1200px )
// @media screen and ( max-width: 992px )
// @media screen and ( max-width: 768px )
// @media screen and ( max-width: 576px )
// @media screen and ( max-width: 319px )