-
    var footer_list_products = ["Product", "How it works","Features","Pricing","Testimonials"];
    var footer_list_about =  ["About form", "Our team","Careers","Press","Stores"];
    var footer_list_connect =  ["Connect", "Facebook", "Twitter","Instagram","Linkedin"];
    var footer_list_contact = ["Contact", "info@gmail.com","000-000-0000","0000 Willa River Suite 000"];
    

.footer.section
    .footer__wrapper.wrapper
        ul.footer__list
            each value in footer_list