header.header
    .header__wrapper.wrapper
        .header__box
            .header__text
                h1.header__text-title Listen To<wbr> The Beat Of The Web
                p.header__text-info.info First template from series templates to design web pages, using components system
                a(href="#").header__text-button.button 
                    | Let’s Go
                    svg
                        use(xlink:href="#file")
            .header__img
                a(href="#")
                    img(src="img/src/header/play-video.png", alt="")
        .header__cards
