extend bases
block content
    .container
        include mixin
        include sprite
        include nav
        include header
        include reviews
        include graphic
        include speed
        include team
        include form