.section
    &__wrapper
        display: flex
        flex-wrap: wrap
        justify-content: center
        align-items: center
    &__text,
    &__image
        flex: 0 0 50%
    &__image
        img
            width: 100%
            object-fit: cover

@media screen and ( max-width: 768px )
    .section
        &__text,
        &__image
            flex: 0 0 100%
        &__text
            margin-bottom: 40px