//*********VARIABLES*********//


//*********COLOURS*********//
$brand-black: #0B132A
$brand-white: #FFFFFF
$brand-grey: #4F5665
$brand-accent: #F53838

$secondary-white: #E5E5E5
$secondary-grey: #EEEFF2
$secondary-accent: #FFECEC

//*********COLOURS*********//


//*********SHADOW*********//
//*********SHADOW*********//


//*********TRANSITION*********//
$md-transition: 0.5s
$transition: 0.3s
//*********TRANSITION*********//


//*********GAP*********//
//*********GAP*********//


//*********BORDER*********//
$radius: 10px
//*********BORDER*********//


//*********HOVER COLOURS*********//
//*********HOVER COLOURS*********//


//*********VARIABLES*********//


//******** LAYOUT *********//
// @media screen and ( max-width: 1400px )
// @media screen and ( max-width: 1200px )
// @media screen and ( max-width: 992px )
// @media screen and ( max-width: 768px )
// @media screen and ( max-width: 576px )
// @media screen and ( max-width: 319px )